@page "/charts"
@using LigaManagerManagement.Web.Pages;
@using System.Globalization

@inherits ChartsListBase
@attribute [Authorize]

@{
    string chartTitle = "Chart Vfb Stuttgart"; 
    string chartspiele = "Spiele";
    string chartpunkte = "Punkte";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">   
    
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() 
    {
        var data = google.visualization.arrayToDataTable([['int', 'Data'],
        @foreach (var data in chartDataList)
        {
            <text>['@data.ChartSpiele, @data.ChartValue], </text>
        } 
        ]);

        var options =
        {
            title: '@chartTitle',
            curveType: 'function',
            pointsVisible: true,
            lineWidth: 3,
            legend: 'none',
            hAxis: { title: '@chartspiele' },
            vAxis: { title: '@chartpunkte' },
            width: '100%',
            height: '100%',
            chartArea: { width: '85%', height: '75%' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
        chart.draw(data, options);
    }
</script>



<div class="container-fluid">
    <div class="form-group row">
        <div class="col-sm-12">
            <RadzenCard class="m-0">
                <div class="d-flex flex-row">
                    <div class="card-body">
                        <h2 style="display:inline-block;">Chart</h2>
                    </div>
                </div>
            </RadzenCard>
        </div>
    </div>
    @if (SaisonenList != null)
    {
        <RadzenCard style="margin-bottom:4px;">
            <div class="form-group row">
                <div class="dropdown mr-2" style="display:inline">
                    <select id="cboSaison" style="display:inline;max-width:170px;height:38px; margin-left:2px; margin-right:2px;" class="form-control dropdown" @onchange="SaisonChange">
                        <option value="" selected>@saison</option>
                        @foreach (var saison in SaisonenList.OrderByDescending(o => o.Saisonname))
                        {
                            <option value="@saison.Saisonname"> @saison.Saisonname </option>
                        }
                    </select>
                </div>
                <div class="dropdown" style="display:inline">
                </div>

            </div>
        </RadzenCard>
    }
    <div id="line_chart" style="width: 800px; height: 600px;">

    </div>
</div>