@page "/Ligamanager/createsaison"
@inherits LigaManagerManagement.Web.Pages.SaisonenListBase
@inject LigaManagement.Web.Services.Contracts.ISaisonenService _SaisonenService
@inject LigaManagement.Web.Services.Contracts.IVereineSaisonService _VereineSaisonService
@inject DialogService DialogService
@inject NavigationManager _navigationManager
@inject NotificationService _NotificationService
@using System.Reflection;
@using LigaManagement.Web.Classes;

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-darkness/jquery-ui.css' rel='stylesheet'>

</head>

<script type="text/javascript">
    // $(document).ready(function () {
    //     $("#previewDiv :input").attr("disabled", true);
    // });
</script>

<style type="text/css">

    input[name=checkvereindisabled] {
        pointer-events: none;
    }

    input[name=txtSaisonnameDisabled] {
        pointer-events: none;
    }

    select[name=cboLigaDisabled] {
        pointer-events: none;
    }

    .rz-chkbox-box {
        border-color: darkgray !important;
    }

    /*  .rz-label {
            margin-left: 0px !important;
            padding-left: 20px !important;
        } */

    .elementleft {
        margin-left: 0px !important;
    }

    .rz-label {
        margin-left: 0px !important;
        padding-left: 20px !important;
    }

    .row {
        margin-right: 15px !important;
    }

    #listVereine li {
        text-indent: -80px !important;
    }

    #listVereine li {
        margin-left: -80px !important;
        padding-left: 0 !important;
    }


    @@media (max-width: 767px) {
        .rz-label {
            margin-left: 5px !important;
            padding-left: 0px !important;
        }
    }
</style>

@if (LigenList == null)
{
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenStack>
}
else
{
    <EditForm Model="Saison" OnValidSubmit="SaveSaison">
        <RadzenSteps Change="@OnChange" CanChange="@CanChange">
            <Steps>
                <RadzenStepsItem PreviousText="@Localizer["Voriger Schritt"].Value" NextText="@Localizer["Nächster Schritt"].Value">
                    <RadzenRow>
                        <RadzenLabel Text=@Localizer["Grunddaten"].Value class="col-sm-3 pl-0">@Localizer["Grunddaten"].Value</RadzenLabel>
                    </RadzenRow>
                    <br />
                    <br />
                    <form>
                        <div class="form-group">
                            @if (Id == null)
                            {
                                <RadzenLabel Text="Saisonname" class="col-sm-3 pl-0" Component="txtSaisonname">@Localizer["Saisonname"].Value</RadzenLabel>
                                <RadzenTextBox required name="txtSaisonname" id="txtSaisonname" @bind-Value="Saison.Saisonname" class="form-control col-9"></RadzenTextBox>
                            }
                            else
                            {
                                <RadzenLabel Text="Saisonname" class="col-sm-3 pl-0" Component="txtSaisonnameDisabled">@Localizer["Saisonname"].Value</RadzenLabel>
                                <RadzenTextBox required name="txtSaisonnameDisabled" id="txtSaisonnameDisabled" @bind-Value="Saison.Saisonname" class="form-control col-9"></RadzenTextBox>
                            }
                            <ValidationMessage For="()=>Saison.Saisonname"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            @if (Id == null)
                            {
                                <RadzenLabel Text="Liganame" class="col-sm-3 pl-0" Component="cboLiga">@Localizer["Liganame"].Value</RadzenLabel>
                                <select id="cboLiga" name="cboLiga" class="form-control col-9 dropdown" @onchange="LigaChange">
                                    <option value="0" required>@Localizer["Liga auswählen"].Value</option>
                                    @if (LigenList != null)
                                    {
                                        @foreach (var liga in LigenList.OrderBy(o => o.LigaID))
                                        {
                                            <option value="@liga.LigaID"> @liga.Liganame</option>
                                        }
                                    }
                                </select>
                            }
                            else
                            {
                                <RadzenLabel Text="Liganame" class="col-sm-3 pl-0" Component="cboLigaDisabled">@Localizer["Liganame"].Value</RadzenLabel>
                                <select id="cboLigaDisabled" name="cboLigaDisabled" class="form-control col-9 dropdown" @onchange="LigaChange">
                                    <option value="0" required>@Localizer["Liga auswählen"].Value</option>
                                    @if (LigenList != null)
                                    {
                                        @foreach (var liga in LigenList.OrderBy(o => o.LigaID))
                                        {

                                            @if (liga.LigaID == LigaID)
                                            {
                                                <option selected value="@liga.LigaID"> @liga.Liganame</option>
                                            }
                                            else
                                            {
                                                <option value="@liga.LigaID"> @liga.Liganame</option>
                                            }
                                        }
                                    }

                                </select>
                            }
                            <label title="@Localizer["Bitte Liga wählen"].Value" style="display:@DisplayErrorLiga;color:red;" id="lblErrorLiga">@Localizer["Bitte Liga wählen"].Value</label>
                        </div>
                        <div class="form-group">
                            <RadzenLabel Text="@Localizer["Anzahl Vereine"].Value" class="col-sm-3 pl-0" Component="txtAnzahlVereine">@Localizer["Anzahl Vereine"].Value</RadzenLabel>
                            <InputNumber required id="txtAnzahlVereine" @bind-Value="Saison.AnzahlVereine" class="form-control col-sm-9"></InputNumber>
                            <ValidationMessage For="()=>Saison.AnzahlVereine"></ValidationMessage>
                        </div>                        
                        <div class="form-group">
                            <RadzenLabel Text="@Localizer["AnzahlCL_Plaetze"].Value" class="col-sm-3 pl-0" Component="txtAnzahlCL_Plaetze">@Localizer["AnzahlCL_Plaetze"].Value</RadzenLabel>
                            <InputNumber required id="txtAnzahlCL_Plaetze" @bind-Value="Saison.CL_League" class="form-control col-sm-9"></InputNumber>
                            <ValidationMessage For="()=>Saison.CL_League"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <RadzenLabel Text="@Localizer["AnzahlEL_Plaetze"].Value" class="col-sm-3 pl-0" Component="txtAnzahlCL_Plaetze">@Localizer["AnzahlEL_Plaetze"].Value</RadzenLabel>
                            <InputNumber required id="txtAnzahlEL_Plaetze" @bind-Value="Saison.EL_League" class="form-control col-sm-9"></InputNumber>
                            <ValidationMessage For="()=>Saison.EL_League"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <RadzenLabel Text="@Localizer["AnzahlCF_Plaetze"].Value" class="col-sm-3 pl-0" Component="txtAnzahlCL_Plaetze">@Localizer["AnzahlCF_Plaetze"].Value</RadzenLabel>
                            <InputNumber required id="txtAnzahlEL_Plaetze" @bind-Value="Saison.CF_League" class="form-control col-sm-9"></InputNumber>
                            <ValidationMessage For="()=>Saison.CF_League"></ValidationMessage>
                        </div>
                        <div class="form-group pt-2">
                            <RadzenLabel Text="@Localizer["Relegation"].Value" class="col-sm-3 pl-0" Component="txtRelegation">@Localizer["Relegation"].Value</RadzenLabel>
                            <InputNumber id="txtRelegation" @bind-Value="Saison.Relegation" class="form-control col-sm-9"></InputNumber>
                            <ValidationMessage For="()=>Saison.Relegation"></ValidationMessage>
                        </div>
                        <div class="form-group">
                            <RadzenLabel Text="@Localizer["Absteiger"].Value" class="col-sm-3 pl-0" Component="txtAnzahlVereine">@Localizer["Absteiger"].Value</RadzenLabel>
                            <InputNumber required id="txtAbsteiger" @bind-Value="Saison.Absteiger" class="form-control col-sm-9"></InputNumber>
                            <ValidationMessage For="()=>Saison.Absteiger"></ValidationMessage>
                        </div>
                        <div class="form-group row my-4">
                            <RadzenLabel Text="lblAbgeschlossen" class="col-md-3 col-xs-12" Component="ckkAbgeschlossen">@Localizer["Abgeschlossen"].Value</RadzenLabel>
                            <RadzenCheckBox @bind-Value="Saison.Abgeschlossen" Style="border-width:0px; width:40px;max-width:40px;margin-left:0px;" class="form-control  col-md-9 col-xs-12" Name="chkAbgeschlossen" />
                            <RadzenColumn Size="8" Offset="4" class="rz-white rz-p-0">
                            </RadzenColumn>
                            <ValidationMessage For="()=>Saison.Abgeschlossen"></ValidationMessage>
                        </div>
                    </form>
                    <RadzenButton Text="@Localizer["Speichern"].Value" Click="@SaveGrunddaten" />
                </RadzenStepsItem>
                <RadzenStepsItem PreviousText="@Localizer["Voriger Schritt"].Value" NextText="@Localizer["Nächster Schritt"].Value">
                    <RadzenRow>
                        <RadzenLabel Text="@Localizer["Vereine zuordnen"].Value" class="col-sm-12 pl-0">@Localizer["Vereine zuordnen"].Value</RadzenLabel>                        
                    </RadzenRow>
                    <RadzenRow>                        
                        @Localizer["Anzahl Vereine"].Value: <b>@vereinesaisonSelected?.Count()</b>
                    </RadzenRow>
                    <br />
                    <div class="form-group">
                        <ul class="ul">
                            @foreach (var verein in VereineList.OrderBy(x => x.Vereinname1).OrderByDescending(x => x.VereinChecked))
                            {
                                string Id = @verein.VereinID;
                                <li><input @onchange="eventArgs => { CheckboxClicked(Id, eventArgs.Value); }" name="checkverein" checked="@verein.VereinChecked" data-bind=" @verein.VereinID" class="col-sm-2" type="checkbox"><span>@verein.Vereinname1</span></li>
                            }
                        </ul>
                    </div>
                    <div class="form-group">
                        <ul class="ul">
                            @foreach (var verein in VereineList.OrderBy(x => x.Vereinname1).OrderByDescending(x => x.VereinChecked))
                            {
                                string Id = @verein.VereinID;
                                <li><input data-bind="@verein.VereinID" class="col-sm-4" type="checkbox"><span>@verein.Vereinname1</span></li>
                            }
                        </ul>
                    </div>
                    <RadzenButton Text="@Localizer["Speichern"].Value" Click="@SaveVereine" />
                </RadzenStepsItem>
                <RadzenStepsItem PreviousText="@Localizer["Voriger Schritt"].Value" NextText="@Localizer["Nächster Schritt"].Value">
                    <RadzenRow>
                        <RadzenLabel Text="@Localizer["Zusammenfassung"].Value" class="col-sm-3 pl-0">@Localizer["Zusammenfassung"].Value</RadzenLabel>
                    </RadzenRow>
                    <br />
                    <br />
                    <div class="form-group">
                        <RadzenLabel Text="Saisonname" class="col-sm-3 pl-0" Component="txtSaisonname">@Localizer["Saisonname"].Value</RadzenLabel>
                        <RadzenTextBox required name="txtSaisonname" id="txtSaisonname" @bind-Value="Saison.Saisonname" class="form-control col-9"></RadzenTextBox>

                        <ValidationMessage For="()=>Saison.Saisonname"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <RadzenLabel Text="@Localizer["Liganame"].Value" class="col-sm-3 pl-0" Component="cboLigaDisabled">@Localizer["Liganame"].Value</RadzenLabel>
                        <select id="cboLiga" name="cboLiga" class="form-control col-9 dropdown" @onchange="LigaChange">
                            <option value="0" required>@Localizer["Liga auswählen"].Value</option>
                            @if (LigenList != null)
                            {
                                @foreach (var liga in LigenList.OrderBy(o => o.LigaID))
                                {

                                    @if (liga.LigaID == LigaID)
                                    {
                                        <option selected value="@liga.LigaID"> @liga.Liganame</option>
                                    }
                                    else
                                    {
                                        <option value="@liga.LigaID"> @liga.Liganame</option>
                                    }
                                }
                            }
                        </select>

                        <label title="@Localizer["Bitte Liga wählen"].Value" style="display:@DisplayErrorLiga;color:red;" id="lblErrorLiga"> title="@Localizer["Bitte Liga wählen"].Value"</label>
                    </div>
                    <div class="form-group">
                        <RadzenLabel Text="@Localizer["Anzahl Vereine"].Value" class="col-sm-3 pl-0" Component="txtAnzahlVereine">@Localizer["Anzahl Vereine"].Value</RadzenLabel>
                        <InputNumber required id="txtAnzahlVereine" @bind-Value="Saison.AnzahlVereine" class="form-control col-sm-9"></InputNumber>
                        <ValidationMessage For="()=>Saison.AnzahlVereine"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <RadzenLabel Text="@Localizer["AnzahlCL_Plaetze"].Value" class="col-sm-3 pl-0" Component="txtAnzahlCL_Plaetze">@Localizer["AnzahlCL_Plaetze"].Value</RadzenLabel>
                        <InputNumber required id="txtAnzahlCL_Plaetze" @bind-Value="Saison.CL_League" class="form-control col-sm-9"></InputNumber>
                        <ValidationMessage For="()=>Saison.CL_League"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <RadzenLabel Text="@Localizer["AnzahlEL_Plaetze"].Value" class="col-sm-3 pl-0" Component="txtAnzahlCL_Plaetze">@Localizer["AnzahlEL_Plaetze"].Value</RadzenLabel>
                        <InputNumber required id="txtAnzahlEL_Plaetze" @bind-Value="Saison.EL_League" class="form-control col-sm-9"></InputNumber>
                        <ValidationMessage For="()=>Saison.EL_League"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <RadzenLabel Text="@Localizer["AnzahlCF_Plaetze"].Value" class="col-sm-3 pl-0" Component="txtAnzahlCL_Plaetze">@Localizer["AnzahlCF_Plaetze"].Value</RadzenLabel>
                        <InputNumber required id="txtAnzahlEL_Plaetze" @bind-Value="Saison.CF_League" class="form-control col-sm-9"></InputNumber>
                        <ValidationMessage For="()=>Saison.CF_League"></ValidationMessage>
                    </div>
                    <div class="form-group pt-2">
                        <RadzenLabel Text="@Localizer["Relegation"].Value" class="col-sm-3 pl-0" Component="txtRelegation">@Localizer["Relegation"].Value</RadzenLabel>
                        <InputNumber id="txtRelegation" @bind-Value="Saison.Relegation" class="form-control col-sm-9"></InputNumber>
                        <ValidationMessage For="()=>Saison.Relegation"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <RadzenLabel Text="@Localizer["Absteiger"].Value" class="col-sm-3 pl-0" Component="txtAnzahlVereine">@Localizer["Absteiger"].Value</RadzenLabel>
                        <InputNumber required id="txtAbsteiger" @bind-Value="Saison.Absteiger" class="form-control col-sm-9"></InputNumber>
                        <ValidationMessage For="()=>Saison.Absteiger"></ValidationMessage>
                    </div>
                    <div class="form-group row my-4">
                        <RadzenLabel Text="lblAbgeschlossen" class="col-md-3 col-xs-12" Component="ckkAbgeschlossen">@Localizer["Abgeschlossen"].Value</RadzenLabel>
                        <RadzenCheckBox @bind-Value="Saison.Abgeschlossen" Style="border-width:0px; width:40px;max-width:40px;margin-left:0px;" class="form-control  col-md-9 col-xs-12" Name="chkAbgeschlossen" />
                        <RadzenColumn Size="8" Offset="4" class="rz-white rz-p-0">
                        </RadzenColumn>
                        <ValidationMessage For="()=>Saison.Abgeschlossen"></ValidationMessage>
                    </div>
                    <div class="form-group row mt-5">
                        <RadzenLabel Text="@Localizer["Vereine"].Value" class="col-md-3 col-xs-12">@Localizer["Vereine"].Value</RadzenLabel>
                    </div>

                    <div class="form-group ">
                        <ul id="listVereine" class="ul">
                            @foreach (var verein in VereineList.Where(x => x.VereinChecked).OrderBy(x => x.Vereinname1).OrderByDescending(x => x.VereinChecked))
                            {
                                string Id = @verein.VereinID;
                                <li><input @onchange="eventArgs => { CheckboxClicked(Id, eventArgs.Value); }" name="checkvereindisabled" checked="@verein.VereinChecked" data-bind=" @verein.VereinID" class="col-sm-2" type="checkbox"><span>@verein.Vereinname1</span></li>
                            }
                        </ul>
                    </div>                    
                    <RadzenButton Text="@Localizer["Speichern"].Value" id="btnSaveSaison" Click="@SaveSaison" />
                </RadzenStepsItem>
            </Steps>
        </RadzenSteps>
    </EditForm>
}
@code {
    public string Titel { get; set; }
    public bool IsLoading { get; set; }
    private string saison;
    private string savedSaison;

    private string liganame;
    private string savedliganame;

    private string savedAboutMe;

    private void OnChange()
    {
        saison = savedSaison;
        liganame = savedliganame;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Id == null)
            {
                //Neuanlage
                Id = "0";
                IsLoading = false;
            }
            else
            {
                //Bearbeiten
                await LoadSaison();
            }
        }
    }

    private async Task LoadSaison()
    {
        IsLoading = true;
        StateHasChanged();
        Saison = await _SaisonenService.GetSaison(Convert.ToInt32(Id));
        IsLoading = false;
        StateHasChanged();
    }

    private async Task CanChange(StepsCanChangeEventArgs args)
    {
        if (args.SelectedIndex == 0)
        {

            if ((Saison.Saisonname == "" || Saison.Saisonname == null))
            {
                _NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Neuanlage Saison", Detail = "Sie haben keinen gültigen Saisonnamen angegeben.Fortfahren nicht möglich." });
                args.PreventDefault();

            }

            if (Liganame == "")
            {
                _NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Neuanlage Saison", Detail = "Sie haben keinen gültigen Liganamen angegeben.Fortfahren nicht möglich." });
                args.PreventDefault();
            }

            if ((Saison.Abgeschlossen == false && Saison.Aktuell == false))
            {
                _NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Neuanlage Saison", Detail = "Entweder Abgeschlossen oder Aktuell muß angegeben werden.Fortfahren nicht möglich." });
                args.PreventDefault();
            }
        }

        else if (args.SelectedIndex == 1)
        {
            if ((vereinesaisonSelected.Count() != Saison.AnzahlVereine))
            {
                _NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Neuanlage Saison", Detail = "Es sind keine " + Saison.AnzahlVereine + "  Vereine angegeben.Fortfahren nicht möglich." });
                args.PreventDefault();
            }
        }

    }

    private void SaveGrunddaten()
    {
        bool bError = false;

        if ((Saison.Saisonname == "" || Saison.Saisonname == null))
        {
            _NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Neuanlage Saison", Detail = "Sie haben keinen gültigen Saisonnamen angegeben.Fortfahren nicht möglich." });
            bError = true;

        }

        else if (Liganame == "")
        {
            _NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Neuanlage Saison", Detail = "Sie haben keinen gültigen Liganamen angegeben.Fortfahren nicht möglich." });
            bError = true;
        }

        else if ((Saison.AnzahlVereine < 10 && Saison.AnzahlVereine > 30))
        {
            _NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Neuanlage Saison", Detail = "AnzahlVereine muß zwischen 10 und 30 liegen.Fortfahren nicht möglich." });
            bError = true;
        }

        else if ((Saison.Abgeschlossen == false && Saison.Aktuell == false))
        {
            _NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Neuanlage Saison", Detail = "Entweder Abgeschlossen oder Aktuell muß angegeben werden.Fortfahren nicht möglich." });
            bError = true;
        }

        else if (bError == false)
        {
            savedSaison = Saison.Saisonname;
            savedliganame = liganame;
        }


    }

    private void SaveVereine()
    {
        if ((vereinesaisonSelected.Count() != +Saison.AnzahlVereine))
        {
            _NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Neuanlage Saison", Detail = "Es sind keine " + Saison.AnzahlVereine + "  Vereine angegeben. Fortfahren nicht möglich." });
            return;
        }
    }

    private async void SaveSaison()
    {
        try
        {
            LigaManagerManagement.Models.Saison SaisonenServiceCreated;

            var liga = await LigenService.GetLiga(LigaID);
            var land = await LaenderService.GetLand(liga.LandID);

            Saison.LigaID = LigaID;
            Saison.Liganame = Liganame;
            Saison.LandID = land.Id;

            SaisonenServiceCreated = await _SaisonenService.CreateSaison(Saison);

            List<VereineSaison> lstVereineSaison = new List<VereineSaison>();

            var Saisonen = await SaisonenService.GetSaisonen();
            SaisonenServiceCreated.SaisonID = Saisonen.Last().SaisonID;

            for (int i = 0; i <= vereinesaisonSelected.Count - 1; i++)
            {
                VereineSaison item = new VereineSaison();

                item.Id = i + 1;
                item.VereinNr = vereinesaisonSelected[i].VereinNr;
                item.LandID = SaisonenServiceCreated.LandID;
                item.SaisonID = SaisonenServiceCreated.SaisonID;
                item.LigaID = SaisonenServiceCreated.LigaID;
                lstVereineSaison.Add(item);
            }

            await _VereineSaisonService.CreateVereineSaison(lstVereineSaison);

            _navigationManager.NavigateTo("Ligamanager/saisonen");
        }
        catch (Exception ex)
        {

            ErrorLogger.WriteToErrorLog(ex.Message, ex.StackTrace, Assembly.GetExecutingAssembly().FullName);
        }
    }
}


