@page "/Ligamanager/createkaderspieler"
@page "/Ligamanager/editkaderspieler/{Id}"
@using LigaManagement.Web.Services.Contracts;
@using LigaManagerManagement.Models;
@inherits LigaManagerManagement.Web.Pages.EditKaderSpielerBase
@inject LigaManagement.Web.Services.Contracts.IKaderService _KaderService
@inject NavigationManager _navigationManager
@inject LigaManagerManagement.Web.Services.LigaManagerAuthenticationStateProvider _LigaManagerAuthenticationStateProvider
@inject NotificationService NotificationService

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-darkness/jquery-ui.css' rel='stylesheet'>
</head>

<style type="text/css">

    .rz-chkbox-box {
        border-color: darkgray !important;
    }

    .rz-label {
        margin-left: 0px !important;
        padding-left: 20px !important;
    }

    @@media (max-width: 767px) {
        .rz-label {
            margin-left: 0px !important;
            padding-left: 0px !important;
        }
    }
</style>

<div class="container">
    <RadzenCard class="m-0 mb-3 rz-shadow-3">
        <div class="d-flex flex-row">
            <div class="card-body">
                <span style="background-color: #1151f3; color:white;" class="float-right">@Localizer["Eingeloggter Benutzer"].Value: @_LigaManagerAuthenticationStateProvider.CurrentUser.Username</span>
                <br />
                <span class="float-right"><a href="Ligamanager/account/logout"><img style="height:25px;margin-top:8px;" title="@Localizer["Logout"].Value" src="images/Logout.png" /></a></span>
                <span class="float-right mr-2"><a href="/Ligamanager/einstellungen"><img style="width:25px; height:25px;margin-top:8px;" title="@Localizer["Einstellungen"].Value" src="images/settings.png" /></a></span>
                <span class="float-right mr-2"><a href="/Ligamanager/info"><img style="height:25px;margin-top:8px;" title="@Localizer["Info"].Value" src="images/info.png" /></a></span>
                <h2>@Titel @Localizer["Kader Spieler"].Value</h2>
            </div>
        </div>
    </RadzenCard>
    <br />
    <div class="form-group row">
        <div class="col-12">
            <EditForm Model="Kader" OnValidSubmit="UpsertKader">
                <div class="form-group row">
                    <RadzenLabel Text="Verein" class="col-md-3 col-xs-12" Component="cboVerein">@Localizer["Verein"].Value</RadzenLabel>
                    <select id="cboVerein" class="form-control col-md-9 col-xs-12" @onchange="VereinChange">
                        <option value="" selected>@Vereinsname1</option>
                        @foreach (var verein in VereineList.OrderBy(x => x.Vereinname1))
                        {
                            <option value="@verein.VereinID"> @verein.Vereinname1 </option>
                        }
                    </select>
                    <label style="display:@DisplayErrorVerein;color:red;" class="form-control col-md-9 col-xs-12" id="lblErrorVerein">Verein auswählen</label>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="Rückennummer" class="col-md-3 col-xs-12" Component="txtRueckennummer">@Localizer["Rückennummer"].Value</RadzenLabel>
                    <InputNumber required id="txtRueckennummer" @bind-Value="Kader.Rueckennummer" class="form-control col-md-9 col-xs-12"></InputNumber>
                    <ValidationMessage For="()=>Kader.Rueckennummer"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="SpielerName" class="col-md-3 col-xs-12" Component="txtSpielerName">@Localizer["SpielerName"].Value</RadzenLabel>
                    <InputText required id="txtSpielerName" @bind-Value="Kader.SpielerName" class="form-control col-md-9 col-xs-6"></InputText>
                    <ValidationMessage For="()=>Kader.SpielerName"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="Vorname" class="col-md-3 col-xs-12" Component="txtVorname">@Localizer["Vorname"].Value</RadzenLabel>
                    <InputText required id="txtVorname" @bind-Value="Kader.Vorname" class="form-control col-md-9 col-xs-12"></InputText>
                    <ValidationMessage For="()=>Kader.Vorname"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="Geburtsdatum" class="col-md-3 col-xs-12" Component="txtGeburtsdatum">@Localizer["Geburtsdatum"].Value</RadzenLabel>
                    <InputDate required id="txtGeburtsdatum" onchange="DatumChange" @bind-Value="Kader.Geburtsdatum" class="form-control col-md-9 col-xs-12"></InputDate>
                    <ValidationMessage For="()=>Kader.Geburtsdatum"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="Alter" class="col-md-3 col-xs-12" Component="txtAlter">@Localizer["Alter"].Value</RadzenLabel>
                    <InputNumber required disabled id="txtAlter" @bind-Value="Kader.Alter" class="form-control col-md-9 col-xs-12"></InputNumber>
                    <ValidationMessage For="()=>Kader.Alter"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="Position" class="col-md-3 col-xs-12" Component="cboPosition">@Localizer["Position"].Value</RadzenLabel>
                    <select id="cboPosition" style="display:inline-block;" class="form-control col-md-9 col-xs-12" @onchange="PositionChange">
                        <option value="0" required>@Localizer["Position wählen"].Value</option>
                        @if (Kader.PositionsNr == 1)
                        {
                            <option selected value="1">@Localizer["Torhüter"].Value</option>
                        }
                        else
                        {
                            <option value="1">@Localizer["Torhüter"].Value</option>
                        }
                        @if (Kader.PositionsNr == 2)
                        {
                            <option selected value="2">@Localizer["Abwehr"].Value</option>
                        }
                        else
                        {
                            <option value="2">@Localizer["Abwehr"].Value</option>
                        }
                        @if (Kader.PositionsNr == 3)
                        {
                            <option selected value="3">@Localizer["Mittelfeld"].Value</option>
                        }
                        else
                        {
                            <option value="3">@Localizer["Mittelfeld"].Value</option>
                        }
                        @if (Kader.PositionsNr == 4)
                        {
                            <option selected value="4">@Localizer["Sturm"].Value</option>
                        }
                        else
                        {
                            <option value="4">@Localizer["Sturm"].Value</option>
                        }
                    </select>
                    <ValidationMessage For="()=>Kader.PositionsNr"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="Einsätze" class="col-md-3 col-xs-12" Component="txtEinsaetze">@Localizer["Einsätze"].Value</RadzenLabel>
                    <InputNumber required id="txtEinsaetze" @bind-Value="Kader.Einsaetze" class="form-control col-md-9 col-xs-12"></InputNumber>
                    <ValidationMessage For="()=>Kader.Einsaetze"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="tore" class="col-md-3 col-xs-12" Component="txtTore">@Localizer["Tore"].Value</RadzenLabel>
                    <InputNumber required id="txtTore" @bind-Value="Kader.Tore" class="form-control col-md-9 col-xs-12"></InputNumber>
                    <ValidationMessage For="()=>Kader.Tore"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="Im Verein seit" class="col-md-3 col-xs-12" Component="txtImVereinSeit">@Localizer["Im Verein seit"].Value</RadzenLabel>
                    <InputDate required id="txtImVereinSeit" @bind-Value="Kader.ImVereinSeit" class="form-control col-md-9 col-xs-12"></InputDate>
                    <ValidationMessage For="()=>Kader.ImVereinSeit"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="Ablösesumme" class="col-md-3 col-xs-12" Component="txtAbloesesumme">@Localizer["Ablösesumme"].Value</RadzenLabel>
                    <InputNumber id="txtAbloesesumme" @bind-Value="Kader.Abloesesumme" class="form-control col-md-9 col-xs-12"></InputNumber>
                    <ValidationMessage For="()=>Kader.Abloesesumme"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <RadzenLabel Text="Aktiv" class="col-sm-3" Component="chkAktiv">@Localizer["Aktiv"].Value</RadzenLabel>
                    <RadzenCheckBox @bind-Value="Kader.Aktiv" Style="border-width:0px; width:40px;max-width:40px;margin-left:0px;" class="form-control col-sm-9" Name="chkAktiv" />
                    <RadzenColumn Size="8" Offset="4" class="rz-white rz-p-0">
                    </RadzenColumn>
                    <ValidationMessage For="()=>Kader.Aktiv"></ValidationMessage>
                </div>
                <div class="form-group py-2">
                    <RadzenButton title="@Localizer["Speichert Spieler ab"].Value" style="margin-left:5px;" id="btnSpeichern" class="btn btn-primary" Text="@Localizer["Speichern"].Value">
                        <span class="glyphicon glyphicon-save"></span>@Localizer["Speichern"].Value
                    </RadzenButton>
                    <RadzenButton title="@Localizer["Löscht Spiel"].Value" style="margin-left:5px;" id="btnDelete" Click="Confirm" class="btn btn-danger" Text="Löschen">
                        <span class="glyphicon glyphicon-remove"></span>@Localizer["Löschen"].Value
                    </RadzenButton>
                    <RadzenButton title="@Localizer["Zurück zu Kaderübersicht"].Value" style="margin-left:5px;" Click="Zurueck_Click" id="btnZurueck" class="btn btn-secodary" Text="@Localizer["Zurück"].Value">
                    </RadzenButton>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Titel { get; set; }
    public bool IsLoading { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Id == null)
            {
                //Neuanlage
                Titel = Localizer["Neuanlage"].Value;
                Id = "0";
                IsLoading = false;
            }
            else
            {
                //Bearbeiten
                Titel = Localizer["Bearbeiten"].Value;
                await LoadKader();
            }
        }
    }

    private async Task LoadKader()
    {
        IsLoading = true;
        StateHasChanged();
        Kader = await _KaderService.GetSpieler(Convert.ToInt32(Id));
        IsLoading = false;
        StateHasChanged();
    }
    private async Task UpsertKader()
    {
        if (Globals.CurrentRole == "USER" || Globals.CurrentRole == "GUEST")
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = @Localizer["CL-Spieltag"].Value, Detail = "Sie haben nicht das Recht Kaders-Spieler zu ändern bzw. neu anzulegen." });
            return;
        }

        Kader.SaisonId = Globals.SaisonID;
        if (Globals.currentLiga == "Bundesliga")
            Kader.LigaID = 1;
        else if (Globals.currentLiga == "2. Bundesliga")
            Kader.LigaID = 2;
        else if (Globals.currentLiga == "3. Liga")
            Kader.LigaID = 3;
        else
            Kader.LigaID = 1;

        Kader.LandID = 57;
        Kader.Spielminuten = Kader.Spielminuten + 90;
        Kader.VereinID = Convert.ToInt32(Verein1_Nr);

        if (Position == null)
        {
            // Kader.Position = 1;
            Kader.PositionsNr = 0;
        }

        if (Id == "0")
        {
            // Create
            await _KaderService.CreateSpieler(Kader);
        }
        else
        {
            // Update
            await _KaderService.UpdateSpieler(Kader);
        }
        _navigationManager.NavigateTo("Ligamanager/Kader");
    }

    private void Zurueck_Click()
    {
        _navigationManager.NavigateTo("Ligamanager/Kader");
    }
}
