@page "/createkaderspieler"
@page "/editkaderspieler/{Id}"
@using LigaManagement.Web.Services.Contracts;
@using LigaManagerManagement.Models;
@inherits LigaManagerManagement.Web.Pages.EditKaderSpielerBase
@inject LigaManagement.Web.Services.Contracts.IKaderService _KaderService
@inject NavigationManager _navigationManager

<div class="container">   
    <RadzenCard class="m-0 mb-3 rz-shadow-3">
        <div class="d-flex flex-row">
            <div class="card-body">
                <h2>@Titel @Localizer["Kader Spieler"].Value</h2>
            </div>
        </div>
    </RadzenCard>
    <br />
    <div class="form-group row">
        <div class="col-12">
            <EditForm Model="Kader" OnValidSubmit="UpsertKader">
                <div class="form-group row">
                    <label class="col-sm-3">@Localizer["Verein"].Value</label>
                    <select id="cboVerein" class="form-control col-sm-9" @onchange="VereinChange">
                        <option value="" selected>@Vereinsname1</option>
                        @foreach (var verein in VereineList.OrderBy(x => x.Vereinname1))
                        {
                            <option value="@verein.VereinID"> @verein.Vereinname1 </option>
                        }
                    </select>
                    <label style="display:@DisplayErrorVerein;color:red;" class="form-control col-sm-9" id="lblErrorVerein">Verein auswählen</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">@Localizer["Rückennummer"].Value</label>
                    <InputNumber required id="txtRueckennummer" @bind-Value="Kader.Rueckennummer" class="form-control col-sm-9"></InputNumber>
                    <ValidationMessage For="()=>Kader.Rueckennummer"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">@Localizer["Spielername"].Value</label>
                    <InputText required id="txtSpielerName" @bind-Value="Kader.SpielerName" class="form-control col-sm-9"></InputText>
                    <ValidationMessage For="()=>Kader.SpielerName"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">@Localizer["Vorname"].Value</label>
                    <InputText required id="txtVorname" @bind-Value="Kader.Vorname" class="form-control col-sm-9"></InputText>
                    <ValidationMessage For="()=>Kader.Vorname"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">@Localizer["Geburtsdatum"].Value</label>
                    <InputDate required id="txtGeburtsdatum" @bind-Value="Kader.Geburtsdatum" class="form-control col-sm-9"></InputDate>
                    <ValidationMessage For="()=>Kader.Geburtsdatum"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">@Localizer["Position"].Value</label>
                    <select id="cboPosition" style="display:inline-block;" class="form-control col-sm-9" @onchange="PositionChange">
                        <option value="@PositionsNr" selected required>Position auswählen</option>
                        <option value="1">Torhüter</option>
                        <option value="2">Abwehr</option>
                        <option value="3">Mittelfeld</option>
                        <option value="4">Sturm</option>
                    </select>
                    <ValidationMessage For="()=>Kader.PositionsNr"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">@Localizer["Einsätze"].Value</label>
                    <InputNumber required id="txtEinsaetze" @bind-Value="Kader.Einsaetze" class="form-control col-sm-9"></InputNumber>
                    <ValidationMessage For="()=>Kader.Einsaetze"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">@Localizer["Tore"].Value</label>
                    <InputNumber required id="txtTore" @bind-Value="Kader.Tore" class="form-control col-sm-9"></InputNumber>
                    <ValidationMessage For="()=>Kader.Tore"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">Im Verein seit</label>
                    <InputDate required id="txtImVereinSeit" @bind-Value="Kader.ImVereinSeit" class="form-control col-sm-9"></InputDate>
                    <ValidationMessage For="()=>Kader.ImVereinSeit"></ValidationMessage>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3">@Localizer["Abloesesumme"].Value</label>
                    <InputNumber id="txtAbloesesumme" @bind-Value="Kader.Abloesesumme" class="form-control col-sm-9"></InputNumber>
                    <ValidationMessage For="()=>Kader.Abloesesumme"></ValidationMessage>
                </div>
                <div class="form-group">
                    <RadzenLabel Text="Label" class="col-sm-3 pl-0" Component="chkAktiv">@Localizer["Aktiv"].Value</RadzenLabel>
                    <RadzenCheckBox @bind-Value="Kader.Aktiv" Style="border-width:0px; width:40px;max-width:40px;" class="form-control col-sm-9" Name="chkElfmeterschiessen" />
                    <RadzenColumn Size="8" Offset="4" class="rz-white rz-p-5">
                    </RadzenColumn>
                    <ValidationMessage For="()=>Kader.Aktiv"></ValidationMessage>
                </div>
                <div class="form-group py-2">
                    <RadzenButton title="@Localizer["Speichert Spieler ab"].Value" style="margin-left:5px;" id="btnSpeichern" class="btn btn-primary" Text="@Localizer["Speichern"].Value">
                        <span class="glyphicon glyphicon-save"></span>@Localizer["Speichern"].Value
                    </RadzenButton>
                    <RadzenButton title="@Localizer["Zurück zu Kaderübersicht"].Value" style="margin-left:5px;" Click="Zurueck_Click" id="btnZurueck" class="btn btn-secodary" Text="@Localizer["Zurück"].Value">

                    </RadzenButton>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Titel { get; set; }
    public bool IsLoading { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Id == null)
            {
                //Neuanlage
                Titel = Localizer["Neuanlage"].Value;
                Id = "0";
                IsLoading = false;
            }
            else
            {
                //Bearbeiten
                Titel = Localizer["Bearbeiten"].Value;
                await LoadKader();
            }
        }
    }

    private async Task LoadKader()
    {
        IsLoading = true;
        StateHasChanged();
        Kader = await _KaderService.GetSpieler(Convert.ToInt32(Id));
         IsLoading = false;
        StateHasChanged();
    }
    private async Task UpsertKader()
    {
        Kader.SaisonId = Globals.SaisonID;
        if (Globals.currentLiga == "Bundesliga")
            Kader.LigaID = 1;
        else if (Globals.currentLiga == "2. Bundesliga")
            Kader.LigaID = 2;
        else if (Globals.currentLiga == "3. Liga")
            Kader.LigaID = 3;
        else
            Kader.LigaID = 1;

        Kader.LandID = 57;
        Kader.Spielminuten = Kader.Spielminuten + 90;
        Kader.VereinID = Convert.ToInt32(Verein1_Nr);

        if (Position == null)
        {
            Kader.Position = "";
            Kader.PositionsNr = 0;
        }

        if (Id == "0")
        {
            // Create
            await _KaderService.CreateSpieler(Kader);
        }
        else
        {
            // Update
            await _KaderService.UpdateSpieler(Kader);
        }
        _navigationManager.NavigateTo("Ligamanager/Kader");
    }

    private void Zurueck_Click()
    {
        _navigationManager.NavigateTo("Ligamanager/Kader");
    }
}
