@page "/"
@inherits EinstiegListBase

@attribute [Authorize]

@using LigaManagerManagement.Web.Pages;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>
    #ul {
        list-style-type: none;
        /*  margin: 0;
                padding: 0; */
    }
</style>

<div class="container">
    <div class="form-group row">
        <div class="col-sm-12">
            <RadzenCard class="m-0">
                <div class="d-flex flex-row">
                    <div class="card-body">
                        <h2 style="display:inline-block;">Start Ligamanager</h2>
                    </div>
                </div>
            </RadzenCard>
        </div>
    </div>   

    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Auswahl">
                <div class="form-group row">
                    <div class="col-sm-12 ml-0">
                        <div class="col-sm-5 pl-0">
                            <select id="cboLiga" class="form-control dropdown" @onchange="LigaChange">
                                <option value="" selected required>Liga auswählen</option>
                                @if (LigenList != null)
                                {
                                    @foreach (var liga in LigenList.OrderBy(o => o.LigaID))
                                    {
                                        <option value="@liga.LigaID"> @liga.Liganame </option>
                                    }
                                }
                            </select>
                            <label title="Bitte Liga wählen" style="display:@DisplayErrorLiga;color:red;" id="lblErrorLiga">Bitte Liga wählen</label>
                        </div>
                        <div class="col-sm-5 pl-0">
                            <select id="cboSaison" class="form-control dropdown" @onchange="SaisonChange">
                                <option value="" selected required>Saison auswählen</option>
                                @if (SaisonenList != null)
                                {
                                    @foreach (var saison in SaisonenList.OrderByDescending(o => o.Saisonname))
                                    {
                                        <option value="@saison.Saisonname"> @saison.Saisonname </option>
                                    }
                                }
                            </select>
                            <label style="display:@DisplayErrorSaison;color:red;" id="lblErrorSaison">Bitte Saison wählen</label>
                        </div>
                        <div class="col-sm-2 pull-right">

                            <RadzenButton title="Liga und Saison auswählen" style="margin-right:0px;" id="btnUebernehmen" class="btn btn-primary pull-right" Text="Auswählen" Click="@OnClickHandler">

                            </RadzenButton>
                        </div>
                    </div>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Import">
                <div class="form-group row">
                    <div class="col-sm-12 ml-0">
                        <label for="formFileLg" style="display:inline-block;" title="@ImportCSV" class="form-label col-sm-12">Bitte CSV-Datei wählen</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile" name="filename">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>

                        <p>Default file:</p>
                        <input type="file" id="myFile" name="filename2">

                        <div class="mt-3">
                            <RadzenButton title="Saison importieren" id="btnImportCSV" class="btn btn-primary" Text="Saison importieren" Click="@OnClickHandlerImport">
                            </RadzenButton>
                        </div>

                    </div>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Tabellen anlegen">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <linkbutton title="Tabellen anlegen" style="margin-left:2px;" id="btnGenerateDataBaseTables" class="btn btn-primary" @onclick=GenerateDataBaseTables>
                            Tabellen anlegen
                        </linkbutton>
                    </div>
                </div>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
    </div>

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

@code {

    class MyObject
    {
        public int Id { get; set; }
        public string Name { get; set; }

        public override bool Equals(object o)
        {
            var other = o as MyObject;

            return other?.Id == Id;
        }

        public override string ToString()
        {
            return $"Id: {Id}, Name: {Name}";
        }

        public override int GetHashCode()
        {
            return base.GetHashCode();
        }
    }

    MyObject singleValue = new MyObject() { Id = 5, Name = "Name5" };
    IEnumerable<MyObject> data = Enumerable.Range(0, 100).Select(i => new MyObject() { Id = i, Name = $"Name{i}" });
}
