@page "/Ligamanager"
@inherits EinstiegListBase

@attribute [Authorize]

@using LigaManagerManagement.Web.Pages;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;

<head>        
    
</head>

<style>

    .rz-datatable td {
        padding: 3.5px;
</style>

@if (SaisonenList == null)
{
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenStack>
}
else
{
    <div class="container">
        <RadzenCard class="m-0 rz-shadow-3">
            <div class="d-flex flex-row">
                <div class="card-body">
                    <h2 style="display:inline-block;"> @Localizer["Start"].Value Ligamanager</h2>
                </div>
            </div>
        </RadzenCard>

        <div style="display:inline-block" class="container py-3 mt-3">            
            <div class="row">
                <div class="col-12">
                    <span class="float-right"><a href="/Ligamanager/einstellungen"><img style="width:25px; height:25px;" src="images/settings.png" /></a></span></div>
            </div>
        </div>
        
        <RadzenCard Style="height:100vh;" class="m-0">
            <RadzenTabs>
                <Tabs>
                    <RadzenTabsItem class="p-0" Text="@Localizer["Auswahl"].Value">
                        <RadzenAccordion Style="margin-left:">
                            <Items>
                                <RadzenAccordionItem Selected=true Text="@Localizer["Nationale Wettbewerbe"].Value" CollapseTitle="@Localizer["Nationale Wettbewerbe zuklappen"].Value"
                                                     ExpandTitle="@Localizer["Nationale Wettbewerbe aufklappen"].Value" CollapseAriaLabel="@Localizer["Nationale Wettbewerbe zuklappen"].Value"
                                                     ExpandAriaLabel="@Localizer["Nationale Wettbewerbe aufklappen"].Value">

                                    <div class="form-group row">
                                        <div class="dropdown mr-2" style="display:inline;">
                                            <select value="@LandID" id="cboLand" class="form-control dropdown" @onchange="LandChangeAsync">
                                                <option value="0" required>@Localizer["Land"].Value</option>
                                                @if (LaenderList != null)
                                                {
                                                    @foreach (var land in LaenderList.Where(x => x.Aktiv == true).OrderBy(o => o.Laendername))
                                                    {
                                                        @if (land.LandID == Globals.LandID)
                                                        {
                                                            <option selected value="@land.LandID"> @land.Laendername </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@land.LandID"> @land.Laendername </option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <label for="cboLand" title=@Localizer["Bitte Land wählen"].Value style="display:@DisplayErrorLand;color:red;" id="lblErrorLiga">@Localizer["Bitte Land wählen"].Value</label>
                                        </div>
                                        <div class="dropdown mr-2" style="display:inline;">
                                            <select value="@LigaID" id="cboLiga" Disabled="@isDropdownDisabledLiga" style="width:200px;" class="form-control dropdown" @onchange="LigaChangeAsync">
                                                <option value="0" required>@Localizer["Liga"].Value</option>
                                                @if (LigenList != null)
                                                {
                                                    @foreach (var liga in LigenList.Where(x => x.Aktiv == true && x.EMWM == false).OrderBy(o => o.LigaID))
                                                    {
                                                        @if (liga.LigaID == Globals.LigaID)
                                                        {
                                                            <option selected value="@liga.LigaID"> @liga.Liganame </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@liga.LigaID"> @liga.Liganame </option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <label for="cboLiga" title=@Localizer["Bitte Liga wählen"].Value style="display:@DisplayErrorLiga;color:red;" id="lblErrorLiga">@Localizer["Bitte Liga wählen"].Value</label>
                                        </div>
                                        <div class="dropdown" style="display:inline;">
                                            <select value="@SaisonID" id="cboSaison" Disabled="@isDropdownDisabledSaison" class="form-control dropdown" @onchange="SaisonChange">
                                                <option value="0" required>@Localizer["Saison"].Value</option>
                                                @if (SaisonenList != null)
                                                {
                                                    @foreach (var saison in SaisonenList.OrderByDescending(o => o.Saisonname))
                                                    {
                                                        @if (saison.SaisonID == Globals.SaisonID)
                                                        {
                                                            <option selected value="@saison.Saisonname"> @saison.Saisonname </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@saison.Saisonname"> @saison.Saisonname </option>
                                                        }

                                                    }
                                                }
                                            </select>
                                            <label for="cboSaison" title=@Localizer["Bitte Saison wählen"].Value style="display:@DisplayErrorSaison;color:red;" id="lblErrorSaison">@Localizer["Bitte Saison wählen"].Value</label>
                                        </div>
                                        <div class="dropdown" style="display:inline">
                                            <RadzenButton title="@Localizer["ToolTipButton"].Value" BusyText="Bitte warten..." style="margin-left:4px;" id="btnAuswaehlen" class="btn btn-primary pull-right" Text="@Localizer["Auswählen"].Value" Click="@OnClickHandler">
                                            </RadzenButton>
                                        </div>
                                    </div>
                                    
                                </RadzenAccordionItem>
                                <RadzenAccordionItem Selected=true Text="@Localizer["Letze Ergebnisse"].Value" CollapseTitle="@Localizer["Letze ErgebnisseCollapse"].Value"
                                                     ExpandTitle="@Localizer["Letze ErgebnisseExpand"].Value" CollapseAriaLabel="@Localizer["Letze ErgebnisseCollapse"].Value"
                                                     ExpandAriaLabel="@Localizer["Letze ErgebnisseExpand"].Value">
                                    <div class="form-group row">
                                        
                                        <div class="col-sm-12">
                                            <RadzenCard style="flex:1;margin-right:0px; height:auto;">
                                                <RadzenDataGrid @ref="grid" Data="@LetzteErgebnisse" EmptyText="Keine Ergebnisse zum Anzeigen" class="table table-striped" FilterMode="FilterMode.Advanced" PageSize="12"
                                                                AllowPaging="true" AllowSorting="true" AllowFiltering="false"
                                                                TItem="Spieltag" Visible="true" Responsive=true AllowColumnResize="true"
                                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                                SelectionMode="DataGridSelectionMode.Single" LogicalFilterOperator="LogicalFilterOperator.Or">
                                                    <Columns>
                                                        <RadzenDataGridColumn TItem="Spieltag" Property="SpieltagId" Width="50px" TextAlign="TextAlign.Right" Filterable="false" Visible=false Sortable=false Title="SpieltagId" />
                                                        <RadzenDataGridColumn TItem="Spieltag" Title="" Sortable="true" Width="44px" MinWidth="44px">
                                                            <Template Context="data">
                                                                <RadzenImage Path="@($"{data.TeamIconUrl1}")" style="height: 30px; width: 30px;" title="@data.Verein1" AlternateText="@(data.Verein1)" />
                                                            </Template>
                                                        </RadzenDataGridColumn>
                                                        <RadzenDataGridColumn TItem="Spieltag" CssClass="VereinMinWidth" Property="Verein1" Width="30%" Sortable=true Title="@Localizer["Heim"].Value">
                                                        </RadzenDataGridColumn>
                                                        <RadzenDataGridColumn TItem="Spieltag" CssClass="ToreMinWidth" Property="Tore1_Nr" TextAlign="TextAlign.Right" Width="8%" Sortable=true Title="" />
                                                        <RadzenDataGridColumn TItem="Spieltag" Property="Doppelpunkt" TextAlign="TextAlign.Center" Width="6%" Sortable=true Title="" />
                                                        <RadzenDataGridColumn TItem="Spieltag" CssClass="ToreMinWidth" Property="Tore2_Nr" TextAlign="TextAlign.Left" Width="8%" Sortable=true Title="" />
                                                        <RadzenDataGridColumn TItem="Spieltag" Title="" Sortable="true" Width="44px" MinWidth="44px">
                                                            <Template Context="data">
                                                                <RadzenImage Path="@($"{data.TeamIconUrl2}")" style="height: 30px; width: 30px;" title="@data.Verein2" AlternateText="@(data.Verein2)" />
                                                            </Template>
                                                        </RadzenDataGridColumn>
                                                        <RadzenDataGridColumn TItem="Spieltag" CssClass="VereinMinWidth" Property="Verein2" Width="25%" Sortable=true Title="@Localizer["Auswärts"].Value" />                                                        
                                                        <RadzenDataGridColumn TItem="Spieltag" FormatString="{0:dd.MM.yyyy}" Property="Datum" Width="18%" Sortable=true Title=@Localizer["Datum"].Value />
                                                        <hr style="border:5px;" />
                                                    </Columns>

                                                </RadzenDataGrid>

                                            </RadzenCard>
                                            @* </div> *@
                                        </div>
                                    </div>
                                </RadzenAccordionItem>
                                @*  <RadzenAccordionItem Text="Internationale Wettbewerbe" CollapseTitle="Internationale Wettbewerbe zuklappen."
                            ExpandTitle="Internationale Wettbewerbe aufklappen." CollapseAriaLabel="Internationale Wettbewerbe zuklappen."
                            ExpandAriaLabel="Internationale Wettbewerbe aufklappen.">
                            <div class="dropdown mr-2" style="display:inline">
                            <select id="cboSaison" class="form-control dropdown" @onchange="SaisonChangeEMWM">
                            <option value="0" required>@Localizer["Turnier wählen"].Value</option>
                            @if (SaisonenListEMWM != null)
                            {
                            @foreach (var saisonemwm in SaisonenListEMWM.Where(x => x.Saisonname.StartsWith("EM") || x.Saisonname.StartsWith("WM")).OrderByDescending(o => o.Saisonname.Substring(o.Saisonname.Length - 4)))
                            {
                            @if (saisonemwm.Saisonname == Globals.currentEMWMSaison)
                            {
                            <option selected value="@saisonemwm.SaisonID"> @saisonemwm.Saisonname </option>
                            }
                            else
                            {
                            <option value="@saisonemwm.SaisonID"> @saisonemwm.Saisonname </option>
                            }
                            }
                            }
                            </select>
                            <label style="display:@DisplayErrorSaisonEMWM;color:red;" id="lblErrorSaison">@Localizer["Turnier wählen"].Value</label>
                            </div>
                            <div class="dropdown" style="display:inline">
                            <RadzenButton title="@Localizer["ToolTipButton"].Value" BusyText="Bitte warten..." style="margin-left:4px;" id="btnAuswaehlenEMWM" class="btn btn-primary pull-right" Text="@Localizer["Auswählen"].Value" Click="@OnClickHandlerEMWM">
                            </RadzenButton>
                            </div>
                            </RadzenAccordionItem> *@

                            
                            </Items>
                        </RadzenAccordion>
                    </RadzenTabsItem>
                    <RadzenTabsItem Visible="@ImportVisible" Text="@Localizer["Import"].Value">
                        <div class="form-group row">
                            <div class="col-sm-12 ml-0">
                                <label for="formFileLg" style="display:inline-block;" title="@ImportCSV" class="form-label col-sm-12">Bitte CSV-Datei wählen</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="custom-file mb-3">
                                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                                    <label class="custom-file-label" for="customFile">Datei wählen file</label>
                                </div>

                                <p>Default file:</p>
                                <input type="file" id="myFile" name="filename2">

                                <div class="mt-3">
                                    <RadzenButton title="Saison importieren" id="btnImportCSV" class="btn btn-primary" Text="Saison importieren" Click="@OnClickHandlerImport">
                                    </RadzenButton>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <RadzenButton title="Einlesen" style="margin-left: 5px;" id="btnEinlesen" class="btn btn-primary pull-right" Text="Einlesen 3.Liga" Click="@GetDataFromOpenLgaDB">
                                </RadzenButton>
                            </div>
                        </div>
                    </RadzenTabsItem>
                    <RadzenTabsItem Visible="@TabellenAnlegenVisible" Text="@Localizer["Tabellen anlegen"].Value">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <RadzenLabel Style="font-weight:bold;">Tabellen auswählen</RadzenLabel>
                                <RadzenCheckBoxList Orientation="Orientation.Vertical" @bind-Value=@values Change="@(args => ValidateItems(args))" TValue="int">
                                    <Items>
                                        <RadzenCheckBoxListItem Disabled Text="Ligen" Value="1" />
                                        <RadzenCheckBoxListItem Disabled Text="Saisonen" Value="2" />
                                        <RadzenCheckBoxListItem Disabled Text="Vereine" Value="3" />
                                        <RadzenCheckBoxListItem Disabled Text="Vereine Saison" Value="4" />
                                        <RadzenCheckBoxListItem Disabled Text="Spieltage" Value="5" />
                                        <RadzenCheckBoxListItem id="chkKader" Text="Kader" Value="6" />
                                        <RadzenCheckBoxListItem id="Spieler" Text="Spieler" Value="7" />
                                        <RadzenCheckBoxListItem id="SpielerSpieltag" Text="Spieler Spieltag" Value="8" />
                                        <RadzenCheckBoxListItem id="chkTore" Text="Tore" Value="9" />
                                        <RadzenCheckBoxListItem Disabled id="chkPokalergebnisse" Text="Pokalergebnisse" Value="10" />
                                    </Items>
                                </RadzenCheckBoxList>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <RadzenButton title="Datenbank mit ausgewählten Tabellen anlegen" id="btnGenerateDataBase" class="btn btn-primary" Text="Datenbank anlegen" Click="@GenerateDataBase">
                                </RadzenButton>
                            </div>
                        </div>
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenCard>
    </div>
}
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

@code {

    AlignItems alignItems = AlignItems.Normal;
    JustifyContent justifyContent = JustifyContent.Normal;
    string gap = "1rem";

    class MyObject
    {
        public int Id { get; set; }
        public string Name { get; set; }

        public override bool Equals(object o)
        {
            var other = o as MyObject;

            return other?.Id == Id;
        }

        public override string ToString()
        {
            return $"Id: {Id}, Name: {Name}";
        }

        public override int GetHashCode()
        {
            return base.GetHashCode();
        }
    }

    MyObject singleValue = new MyObject() { Id = 5, Name = "Name5" };
    IEnumerable<MyObject> data = Enumerable.Range(0, 100).Select(i => new MyObject() { Id = i, Name = $"Name{i}" });
}
