@page "/Ligamanager/em_wm"

@using LigaManagerManagement.Web.Pages;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;

@inherits EM_WMListbase

@inject DialogService DialogService
@inject LigaManagerManagement.Web.Services.LigaManagerAuthenticationStateProvider _LigaManagerAuthenticationStateProvider
@inject NavigationManager _navigationManager

@attribute [Authorize]

<head>

</head>

<style>
    .rz-datatable tr {
        min-height: 8%;
        word-break: break-all;
    }

    tr.separated td {
        /* set border style for separated rows */
        border-bottom: 1px solid black;
    }

    .rz-chkbox-box {
        border-color: darkgray !important;
    }

    table {
        /* make the border continuous (without gaps between columns) */
        border-collapse: collapse;
    }

    .rz-datatable td {
        padding: 2.5px;
    }
</style>

@if (SaisonenList == null)
{

    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenStack>
}
else
{

    <div class="container">
        <div class="form-group row">
            <div class="col-sm-12">
                <RadzenCard class="m-0 rz-shadow-3" style="height:auto;">
                    <div class="d-flex flex-row">
                        <div class="card-body">
                            <span style="background-color: #1151f3; color:white;" class="float-right">@Localizer["Eingeloggter Benutzer"].Value: @_LigaManagerAuthenticationStateProvider.CurrentUser.Username</span>
                            <br />
                            <span class="float-right"><a href="Ligamanager/account/logout"><img style="height:25px;margin-top:8px;" title="@Localizer["Logout"].Value" src="images/Logout.png" /></a></span>
                            <span class="float-right mr-2"><a href="/Ligamanager/einstellungen"><img style="width:25px; height:25px;margin-top:8px;" title="@Localizer["Einstellungen"].Value" src="images/settings.png" /></a></span>
                            <span class="float-right mr-2"><a href="/Ligamanager/info"><img style="height:25px;margin-top:8px;" title="@Localizer["Info"].Value" src="images/info.png" /></a></span>
                            <h2 style="display:inline-block;">@Globals.currentEMWMSaison</h2>
                            <span class="ml-3">
                                <RadzenButton title="@Localizer["Neuanlage EM-Spiel"].Value" Click=@(args => OnClick("Primary icon button")) Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
                            </span>
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>

        <RadzenCard style="margin-bottom:4px;">
            <div class="form-group row">
                <div class="dropdown mr-2 ml-3" style="display:inline">
                    <select id="cboSaison" class="form-control dropdown" @onchange="SaisonChange">
                        <option value="0" required>@Localizer["Turnier wählen"].Value</option>
                        @if (SaisonenList != null)
                        {
                            @foreach (var saison in SaisonenList.Where(x => x.Aktuell).Where(x => x.Saisonname.StartsWith("EM") || x.Saisonname.StartsWith("WM")).OrderByDescending(o => o.Saisonname.Substring(o.Saisonname.Length - 4)))
                            {
                                @if (saison.Saisonname == Globals.currentEMWMSaison)
                                {
                                    <option selected value="@saison.SaisonID"> @saison.Saisonname </option>
                                }
                                else
                                {
                                    <option value="@saison.SaisonID"> @saison.Saisonname </option>
                                }
                            }
                        }
                    </select>
                    <label style="display:@DisplayErrorSaison;color:red;" id="lblErrorSaison">@Localizer["Turnier wählen"].Value</label>
                </div>
                <div class="dropdown" style="display:inline">
                    <select id="cboTableArt" style="display:inline; width:180px;height:38px;" class="form-control dropdown" @onchange="RundeChange">
                        <option value="0" required>@Localizer["Runde wählen"].Value</option>
                        @if (RundeList != null)
                        {
                            @foreach (var runde in RundeList)
                            {
                                @if (runde.RundeKurzbezeichung == Globals.currentEMWMRunde)
                                {
                                    <option selected value="@runde.RundeKurzbezeichung"> @runde.Rundename </option>
                                }
                                else
                                {
                                    <option value="@runde.RundeKurzbezeichung"> @runde.Rundename </option>
                                }
                            }
                        }
                    </select>
                    <label style="display:@DisplayErrorRunde;color:red;" id="lblErrorSaison">@Localizer["Runde wählen"].Value</label>
                </div>
                <div class="dropdown" style="display:inline">
                    <RadzenButton title="@Localizer["Vereine EMWM"].Value" Click=@(args => OnClickEMWM("Primary icon button")) Style="margin-left: 3px;display:none;" Text="@Localizer["Vereine EMWM"].Value" ButtonStyle="ButtonStyle.Primary" />
                    <RadzenButton title="@Localizer["Einlesen"].Value" style="margin-left: 5px;display:none;" id="btnEinlesen" class="btn btn-primary pull-right" Text="@Localizer["Einlesen"].Value" Click="@GetDataFromOpenLgaDB">
                    </RadzenButton>
                    <RadzenButton title=@Localizer["Saison und Runde wählen"].Value style="margin-left: 5px;" id="btnUebernehmen" class="btn btn-primary pull-right" Text=@Localizer["Auswählen"].Value Click="@OnClickHandler">
                    </RadzenButton>
                </div>
            </div>
        </RadzenCard>

        <RadzenCard Style="height:70%;" class="m-0">
            <RadzenTabs>
                <Tabs>
                    <RadzenTabsItem class="p-0" Text=@Localizer["Begegnungen"].Value>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <RadzenCard style="flex:1;margin:0px;">
                                    <RadzenButton Text="Export XLS" Icon="grid_on" Style="display:none;" Click="@(args => Export("excel"))" class="mb-4 me-2" />
                                    <RadzenButton Text="Export CSV" Icon="wrap_text" Style="display:none;" Click="@(args => Export("csv"))" class="mb-4" />
                                    <RadzenDataGrid @ref="grid" Data="@EMWMSpieltage" EmptyText="Keine Daten zum Anzeigen" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                    AllowPaging="true" AllowSorting="false" AllowFiltering="false"
                                                    TItem="PokalergebnisCLSpieltag" Visible="true" Responsive=true AllowColumnResize="true"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    SelectionMode="DataGridSelectionMode.Single" CellRender="@CellRender" Density="@Density" LogicalFilterOperator="LogicalFilterOperator.Or">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="PokalergebnisCLSpieltag" CssClass="table-row" Property="Gruppe" Width="5%" Sortable=false Title="Gr.">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="PokalergebnisCLSpieltag" CssClass="table-row" Property="Verein1" Width="23%" Sortable=false Title="@Localizer["Heim"].Value">
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="PokalergebnisCLSpieltag" CssClass="table-row" Title="" Sortable="true" TextAlign="TextAlign.Left" Width="7%">
                                                <Template Context="data">
                                                    <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein1}.webp")" style="width: 30px; height: 30px;border-width:1px;" title="@data.Verein1" AlternateText="@(data.Verein1)" />
                                                    @* <RadzenImage Path="@($"{data.Hyperlink}")" style="width: 30px; height: 30px;" title="@data.Hyperlink" AlternateText="@(data.Hyperlink)" /> *@
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="PokalergebnisCLSpieltag" CssClass="table-row" Property="Tore1_Nr" TextAlign="TextAlign.Center" Width="8%" Sortable=false Title="T 1" />
                                            <RadzenDataGridColumn TItem="Spieltag" Property="Doppelpunkt" TextAlign="TextAlign.Center" Width="6%" Sortable=true Title="" />
                                            <RadzenDataGridColumn TItem="PokalergebnisCLSpieltag" CssClass="table-row" Property="Tore2_Nr" TextAlign="TextAlign.Center" Width="8%" Sortable=false Title="T 2" />
                                            <RadzenDataGridColumn TItem="PokalergebnisCLSpieltag" CssClass="table-row" Property="Verein2" Width="23%" Sortable=false Title="@Localizer["Gast"].Value" />
                                            <RadzenDataGridColumn TItem="PokalergebnisCLSpieltag" CssClass="table-row" Title="" Sortable="true" TextAlign="TextAlign.Right" Width="7%">
                                                <Template Context="data">
                                                    <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein2}.webp")" style="width: 30px; height: 30px;border-width:1px;" title="@data.Verein2" AlternateText="@(data.Verein2)" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn TItem="PokalergebnisCLSpieltag" CssClass="table-row" Property="Ort" Width="20%" Sortable=false Title="@Localizer["Ort"].Value" />
                                            <RadzenDataGridColumn TItem="PokalergebnisCLSpieltag" CssClass="table-row" FormatString="{0:dd.MM.yyyy H:mm}" Property="Datum" Width="22%" Sortable=false Title="@Localizer["Datum"].Value" />
                                            @if (RundeChoosed == "AF" || RundeChoosed == "VF" || RundeChoosed == "HF" || RundeChoosed == "F3" || RundeChoosed == "F")
                                            {                                               
                                                <RadzenDataGridColumn TextAlign="TextAlign.Center" TItem="PokalergebnisCLSpieltag" Property="Verlängerung" Title="V" Width="5%" Filterable="false" Sortable="false">
                                                    <Template Context="data">
                                                        <RadzenCheckBox @bind-Value=@data.Verlängerung TValue="bool" Name="chkElfmeterschiessen" />
                                                    </Template>
                                                </RadzenDataGridColumn>                                                
                                                <RadzenDataGridColumn TextAlign="TextAlign.Center" TItem="PokalergebnisCLSpieltag" Property="Elfmeterschiessen" Title="E" Width="5%" Filterable="false" Sortable="false">
                                                    <Template Context="data">
                                                        <RadzenCheckBox @bind-Value=@data.Elfmeterschiessen TValue="bool" Name="chkElfmeterschiessen" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                            }
                                            <RadzenDataGridColumn TextAlign="TextAlign.Right" CssClass="table-row" TItem="PokalergebnisCLSpieltag" Property="SpieltagId" Width="80px" Filterable="false" Sortable="false">
                                                <Template Context="data">
                                                    <NavLink href="@($"Ligamanager/editemwmspieltag/{data.SpieltagId}/{data.GroupID}")" title="@Localizer["Bearbeiten"].Value" class="btn btn-primary btn-sm"><div><RadzenIcon Icon="launch" /><span></span></div></NavLink>
                                                </Template>
                                            </RadzenDataGridColumn>
                                        </Columns>
                                        <FooterTemplate>
                                        </FooterTemplate>
                                    </RadzenDataGrid>
                                </RadzenCard>
                            </div>
                            <div class="col-sm-12">
                                @if (RundeChoosed == "G1" || RundeChoosed == "G2" || RundeChoosed == "G3" || RundeChoosed == "G4" || RundeChoosed == "G5" || RundeChoosed == "G6" || RundeChoosed == "G7" || RundeChoosed == "G8")
                                {
                                    <div Style="display:@VisibleTableABCD">
                                        <h4>@Localizer["Tabelle Gruppe"].Value A</h4>
                                        <RadzenDataGrid @ref="gridTabelle" Data="TabellenA" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                        AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                        TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                                <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                    <Template Context="data">
                                                        <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                        @* <RadzenImage Path="@($"{data.Hyperlink}")" style="width: 30px; height: 30px;" title="@data.Hyperlink" AlternateText="@(data.Hyperlink)" /> *@
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>

                                    <div Style="display:@VisibleTableABCD">
                                        <h4>@Localizer["Tabelle Gruppe"].Value B</h4>
                                        <RadzenDataGrid @ref="gridTabelle" Data="TabellenB" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                        AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                        TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                                <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                    <Template Context="data">
                                                        <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>

                                    <div Style="display:@VisibleTableABCD">
                                        <h4>@Localizer["Tabelle Gruppe"].Value C</h4>
                                        <RadzenDataGrid @ref="gridTabelle" Data="TabellenC" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                        AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                        TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                                <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                    <Template Context="data">
                                                        <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                    <div Style="display:@VisibleTableABCD">
                                        <h4>@Localizer["Tabelle Gruppe"].Value D</h4>
                                        <RadzenDataGrid @ref="gridTabelle" Data="TabellenD" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                        AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                        TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                                <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                    <Template Context="data">
                                                        <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                    <div Style="display:@VisibleTable3">
                                        <h4>@Localizer["Tabelle Gruppe"].Value E</h4>
                                        <RadzenDataGrid @ref="gridTabelle" Data="TabellenE" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                        AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                        TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                                <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                    <Template Context="data">
                                                        <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                    <div Style="display:@VisibleTable3">
                                        <h4>@Localizer["Tabelle Gruppe"].Value F</h4>
                                        <RadzenDataGrid @ref="gridTabelle" Data="TabellenF" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                        AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                        TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                                <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                    <Template Context="data">
                                                        <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                    <div Style="display:@VisibleTableWM;">
                                        <h4>@Localizer["Tabelle Gruppe"].Value G</h4>
                                        <RadzenDataGrid @ref="gridTabelle" Data="TabellenG" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                        AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                        TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                                <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                    <Template Context="data">
                                                        <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>

                                    <div Style="display:@VisibleTableWM">
                                        <h4>@Localizer["Tabelle Gruppe"].Value H</h4>
                                        <RadzenDataGrid @ref="gridTabelle" Data="TabellenH" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                        AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                        TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                        LogicalFilterOperator="LogicalFilterOperator.Or">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                                <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                    <Template Context="data">
                                                        <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                    </Template>
                                                </RadzenDataGridColumn>
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                                <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                                <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                            </Columns>
                                        </RadzenDataGrid>
                                    </div>
                                }
                                @if (RundeChoosed == "2G1" || RundeChoosed == "2G2" || RundeChoosed == "2G3")
                                {
                                    <h4>@Localizer["Tabelle Gruppe"].Value A</h4>
                                    <RadzenDataGrid @ref="gridTabelle" Data="TabellenI" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                    AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                    TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    LogicalFilterOperator="LogicalFilterOperator.Or">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                            <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                <Template Context="data">
                                                    <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                    @* <RadzenImage Path="@($"{data.Hyperlink}")" style="width: 30px; height: 30px;" title="@data.Hyperlink" AlternateText="@(data.Hyperlink)" /> *@
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                            <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                            <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                        </Columns>
                                    </RadzenDataGrid>


                                    <h4>@Localizer["Tabelle Gruppe"].Value B</h4>
                                    <RadzenDataGrid @ref="gridTabelle" Data="TabellenII" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                    AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                                                    TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    LogicalFilterOperator="LogicalFilterOperator.Or">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                                            <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                                                <Template Context="data">
                                                    <RadzenImage Path="@($"/Images/Nationalmannschaften/{data.Verein}.webp")" style="width: 30px; height: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                                                </Template>
                                            </RadzenDataGridColumn>
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="@Localizer["Heim"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["S"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["G"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["U"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["V"].Value" />
                                            <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="@Localizer["T"].Value" />
                                            <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                                            <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                                        </Columns>
                                    </RadzenDataGrid>
                                }

                            </div>
                        </div>

                    </RadzenTabsItem>
                    <RadzenTabsItem class="p-0" Style="display:none;" Text=@Localizer["Alle EM-Endspiele"].Value>
                        @if (EMWMSpieltageFinale != null)
                        {
                            var PokalergebnisseCLSpieltageFinaleSort = EMWMSpieltageFinale.OrderByDescending(x => x.Datum);
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <RadzenCard style="flex:1;margin:0px;">
                                        <RadzenDataList Data="@PokalergebnisseCLSpieltageFinaleSort" TItem="PokalergebnisCLSpieltag" AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                        WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)" PageSize="16"
                                                        PagerHorizontalAlign="HorizontalAlign.Left" pagerText PageSizeText="16 Datensätze" ShowPagingSummary="true">
                                            <Template Context="PokalergebnisCLSpieltag">
                                                <RadzenCard Style="width:100%; padding:0;">
                                                    <RadzenRow Gap="0">
                                                        <RadzenColumn Size="1" SizeXS="1">
                                                            <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisCLSpieltag.Saison)</RadzenText>
                                                        </RadzenColumn>
                                                        <RadzenColumn Size="3" SizeXS="3">
                                                            <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisCLSpieltag.Verein1)</RadzenText>
                                                        </RadzenColumn>
                                                        <RadzenColumn Size="1" SizeXS="1">
                                                            <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisCLSpieltag.Tore1_Nr)</RadzenText>
                                                        </RadzenColumn>
                                                        <RadzenColumn Size="1" SizeXS="1">
                                                            <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisCLSpieltag.Tore2_Nr)</RadzenText>
                                                        </RadzenColumn>
                                                        <RadzenColumn Size="3" SizeXS="3">
                                                            <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisCLSpieltag.Verein2)</RadzenText>
                                                        </RadzenColumn>
                                                        <RadzenColumn Size="2" SizeXS="2">
                                                            <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisCLSpieltag.Datum)</RadzenText>
                                                        </RadzenColumn>
                                                    </RadzenRow>
                                                </RadzenCard>
                                            </Template>
                                        </RadzenDataList>
                                    </RadzenCard>
                                </div>
                            </div>
                        }
                    </RadzenTabsItem>
                </Tabs>
            </RadzenTabs>
        </RadzenCard>
    </div>

}

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

@code {

    AlignItems alignItems = AlignItems.Normal;
    JustifyContent justifyContent = JustifyContent.Normal;
    string gap = "1rem";

    class MyObject
    {
        public int Id { get; set; }
        public string Name { get; set; }

        public override bool Equals(object o)
        {
            var other = o as MyObject;

            return other?.Id == Id;
        }

        public override string ToString()
        {
            return $"Id: {Id}, Name: {Name}";
        }

        public override int GetHashCode()
        {
            return base.GetHashCode();
        }
    }

    public void Export(string type)
    {
        Export("EMWM", type, new Query()
            {
                OrderBy = grid.Query.OrderBy,
                Filter = grid.Query.Filter,
                Select = string.Join(",", grid.ColumnsCollection.Where(c => c.GetVisible() && !string.IsNullOrEmpty(c.Property))
                                                .Select(c => c.Property.Contains(".") ? $"{c.Property} as {c.Property.Replace(".", "_")}" : c.Property))
            });
    }

    public void Export(string table, string type, Query query = null)
    {
        _navigationManager.NavigateTo(query != null ? query.ToUrl($"/export/northwind/{table}/{type}") : $"/export/northwind/{table}/{type}", true);
    }



    private void OnClick(string text)
    {
        _navigationManager.NavigateTo("Ligamanager/createemwmspieltag/" + RundeChoosed + "/1");
    }

    private void OnClickEMWM(string text)
    {
        _navigationManager.NavigateTo("Ligamanager/vereineemwm/");
    }

    MyObject singleValue = new MyObject() { Id = 5, Name = "Name5" };
    IEnumerable<MyObject> data = Enumerable.Range(0, 100).Select(i => new MyObject() { Id = i, Name = $"Name{i}" });
}
