@page "/Ligamanager/impressum"
@using LigaManagerManagement.Web.Pages;
@using System.Globalization
@using Microsoft.Extensions.Localization;

@attribute [Authorize]


<head>
   
</head>

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 100.0%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }



    .button:hover {
        background-color: #555;
    }

    @@media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }
    }

    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="about-section">
    <h1>Impressum</h1>   
</div>

<div class='impressum'>
    <h1>@Localizer["Impressum"].Value</h1><p>@Localizer["Angaben gemäß § 5 TMG"].Value</p><p>
        Gerhard Wißt <br>
        Augsburger Str.717<br>
        70329 Stuttgart <br>
    </p><p>
        <strong>@Localizer["Vertreten durch"].Value:</strong><br>
        Gerhard Wißt<br>
    </p><p>
        <strong>@Localizer["Kontakt"].Value:</strong> <br>
        @Localizer["Telefon"].Value: 0711-1612-2317<br>
        E-Mail: <a href='mailto:g.wisst@web.de'>g.wisst@web.de</a>    
    </p><p>
        <strong>@Localizer["Haftungsausschluss"].Value: </strong><br><br><strong>@Localizer["Haftung für Inhalte"].Value</strong><br><br>
        @Localizer["Text1"].Value <br>
        @Localizer["Text4"].Value <br>
        <br><br><strong>Google Analytics</strong><br><br>
        @Localizer["Text2"].Value<br><br><strong>Google AdSense</strong><br><br>
        @Localizer["Text3"].Value
    </p><br>
    @Localizer["ErstelltDurch"].Value <a href="https://www.impressum-generator.de">impressum-generator.de</a> @Localizer["VonDer"].Value <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow"> @Localizer["Kanzlei Hasselbach"].Value</a>
</div>

@code {   
    [Inject]
    public IStringLocalizer<Impressum> Localizer { get; set; }

    protected override async Task OnInitializedAsync()    {      

        Globals.bVisibleNavMenuElements = true;
    }
}

