@page "/Ligamanager/info"
@using LigaManagerManagement.Web.Pages;
@using System.Globalization
@using Microsoft.Extensions.Localization;

@attribute [Authorize]


<head>

</head>

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 100.0%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }



    .button:hover {
        background-color: #555;
    }

    @@media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }
    }

    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #6495ED;
        color: lightgray
        
    }
</style>

<div class="about-section">
    <h1>@Localizer["Über Ligamanager"].Value</h1>
    <p>@Localizer["Purpose1"].Value </p>
    <p>@Localizer["Purpose2"].Value</p>
</div>

<h2 style="text-align:center">@Localizer["Programmierer"].Value:g.wisst@web.de</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <div class="row">
                    <div class="span4"></div>
                    <div class="span4"><img class="center-block" src="/Images/Gerhard Wißt.jpg" alt="Gerhard Wißt" style="width:25%"></div>
                    <div class="span4"></div>
                </div>
                <h2>Gerhard Wißt</h2>
                <p class="title">@Localizer["Erstellt Webanwendungen in C#,ASP.Net/Blazor"].Value</p>
                <p>@Localizer["Purpose1"].Value</p>
                <a href="https://www.linkedin.com/in/gerhard-w-670a2169">@Localizer["LinkedIn Profil"].Value</a>
                <br />
                <a style="" href="https://www.xing.com/profile/Gerhard_Wisst/web_profiles">@Localizer["XING Profil"].Value</a>
                <p>@Localizer["Mailadresse"].Value:g.wisst@web.de</p>
                <RadzenButton title=@Localizer["Mailkontakt"].Value style="margin-left:5px;" id="btnSend" class="btn btn-primary" Text=@Localizer["Kontakt"].Value Click="@OnClickHandler">
                </RadzenButton>
            </div>
        </div>
    </div>
</div>


@code
{
    [Inject]
    public IStringLocalizer<Info> Localizer { get; set; }

    protected override async Task OnInitializedAsync()
    {

        Globals.bVisibleNavMenuElements = true;
    }

    public async void OnClickHandler()
    {

    }
}


