@page "/Ligamanager/ligen"
@using LigaManagerManagement.Web.Pages;
@inherits LigenListBase
@inject NavigationManager _navigationManager
@attribute [Authorize]

<head>
 
</head>

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style type="text/css">

    .rz-datatable tr {
        min-height: 8%;
        word-break: break-all;
    }

    tr.separated td {
        /* set border style for separated rows */
        border-bottom: 1px solid black;
    }

    table {
        /* make the border continuous (without gaps between columns) */
        border-collapse: collapse;
    }

    .rz-datatable td {
        padding: 2.5px;
    }
</style>

@if (LigenList == null)
{
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenStack>
}
else
{
    <div class="container">

        <RadzenCard class="m-0 rz-shadow-3" style="height:90px;">
            <div class="d-flex flex-row">
                <div class="card-body">
                    <h2 style="display:inline-block;">@Localizer["Ligen"].Value</h2>
                    <span class="ml-3">                        
                        <RadzenButton Click=@(args => OnClick("Primary icon button")) Icon="add_circle_outline" title="@Localizer["Neuanlage Liga"].Value" ButtonStyle="ButtonStyle.Primary" />
                    </span>
                </div>
            </div>
        </RadzenCard>
         

         <RadzenCard class="my-4" style="display: flex; align-items: center; gap: 0.5rem">                        
                        <RadzenSelectBar @bind-Value="@Density" TextProperty="Text" ValueProperty="Value"
                                         Data="@(Enum.GetValues(typeof(Density)).Cast<Density>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Medium" />
         </RadzenCard>

        <div class="form-group row">
            <div class="col-sm-12">
                <RadzenDataGrid @ref="grid" Data="@LigenList" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                AllowPaging="true" AllowSorting="true" Responsive=true Density="@Density" AllowFiltering="true"
                                TItem="Liga" Visible="true" AllowColumnResize="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or">
                    <Columns>
                        <RadzenDataGridColumn TItem="Liga" Property="Id" Title="Id" Visible=false>                         
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Liga" Property="Id" Width="10%" TextAlign="TextAlign.Right" Filterable="false" Sortable=true Title="Id" />
                        <RadzenDataGridColumn TItem="Liga" Property="Liganame" Width="20%" Sortable=true Title="@Localizer["Liganame"].Value" />
                        <RadzenDataGridColumn TItem="Liga" Property="Saisonen" Width="15%" Sortable=true Title="@Localizer["Saisonen"].Value" />
                        <RadzenDataGridColumn TItem="Liga" Property="Verband" Width="10%" Sortable=true Title="@Localizer["Verband"].Value" />
                        <RadzenDataGridColumn TItem="Liga" Property="Erstaustragung" Width="150px" FormatString={0:dd.MM.yyyy} TextAlign="TextAlign.Center" Filterable="false" Sortable=true Title="@Localizer["Erstaustragung"].Value" />

                        <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Liga" Property="Aktiv" title="@Localizer["Aktiv"].Value" Width="100px" Filterable="false">
                            <Template Context="data">
                              <RadzenCheckBox @bind-Value=@data.Aktiv TValue="bool" Name="chkBundesliga" /> 
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Liga" Property="EMWM" title="@Localizer["EMWM"].Value" Width="100px" Filterable="false">
                            <Template Context="data">
                                <RadzenCheckBox @bind-Value=@data.EMWM TValue="bool" Name="chkEMWM" />
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Liga" Property="Id" Width="100px" Filterable="false" Sortable="false">
                            <Template Context="data">
                                <NavLink href="@($"Ligamanager/editliga/{data.Id}")" title="@Localizer["Bearbeiten"].Value" class="btn btn-primary btn-sm"><div><RadzenIcon Icon="launch" /><span></span></div></NavLink>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                    <FooterTemplate>
                    </FooterTemplate>
                    <FooterTemplate>
                        @Localizer["Anzahl Ligen"].Value: <b>@LigenList.Count()</b>
                    </FooterTemplate>
                </RadzenDataGrid>
                <RadzenRow Wrap="FlexWrap.NoWrap" Gap="10px" class="rz-white">
                    <RadzenColumn Offset="11" Style="text-align:right;">
                        <button onclick="topFunction()" id="btnTop" class="btn btn-primary btn-sm" title="@Localizer["Nach oben"].Value" style='font-size:12px'><div><RadzenIcon Icon="open_in_browser" /><span></span></div></button>
                    </RadzenColumn>
                </RadzenRow>
            </div>
        </div>
    </div>   
    <script>

        let mybutton = document.getElementById("btnTop");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
}
@code {
    private void OnClick(string text)
    {
        _navigationManager.NavigateTo("Ligamanager/createliga");
    }
}