@page "/ligen"
@using LigaManagerManagement.Web.Pages;
@inherits LigenListBase

@attribute [Authorize]

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style type="text/css">

    .TableElement {
        border: 0px solid #fff;
        background-color: transparent;
    }

    .table td, .table th {
        padding: 0.04rem !important;
        vertical-align: top;
        border-top: 0px solid #dee2e6;
    }

    h4 {
        display: flex;
        flex-direction: row;
        width: 96%;
        height: 0.5px;
    }

        h4:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid #000;
            padding: 0px;
            margin: -5.5px;
        }

    table {
        border-collapse: collapse;
    }

        table.sectioned tbody {
            border: 1px solid darkgray;
            border-collapse: separate;
            border-spacing: 4px;
        }
</style>

@if (LigenList == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h2 style="display:inline-block;">@Ligamanager.Components.Globals.currentLiga Saisonen </h2>

                        <span class="ml-3">
                            <a href="createliga" style="width:auto;" class="btn btn-primary form-control"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <RadzenDataGrid @ref="grid" Data="@LigenList" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                AllowPaging="true" AllowSorting="true" AllowFiltering="true"
                                TItem="Liga" Visible="true" AllowColumnResize="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or" Filter="@OnFilter" CellRender="OnCellRender">
                    <Columns>
                        <RadzenDataGridColumn TItem="Liga" Property="Id" Title="Id" Visible=false>
                            <FooterTemplate>
                                Ligen: <b>@grid.View.Count()</b> von <b>@LigenList.Count()</b>
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Liga" Property="Id" Width="50px" TextAlign="TextAlign.Right" Filterable="false" Sortable=true Title="Id" />
                        <RadzenDataGridColumn TItem="Liga" Property="Liganame" Width="500px" Sortable=true Title="Liganame" />
                        <RadzenDataGridColumn TItem="Liga" Property="Verband" Width="400px" Sortable=true Title="Verband" />
                        <RadzenDataGridColumn TItem="Liga" Property="Erstaustragung" Width="200px" FormatString={0:dd.mm.yyyy} TextAlign="TextAlign.Center" Filterable="false" Sortable=true Title="Erstaustragung" />
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </div>
    <div class="col-1 offset-11">
        <button onclick="topFunction()" id="btnTop" class="btn btn-primary" title="Nach oben" style='font-size:24px'><span class="glyphicon glyphicon-arrow-up"></span></button>
    </div>

    <script>

        let mybutton = document.getElementById("btnTop");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


}