@page "/ligen"
@using LigaManagerManagement.Web.Pages;
@inherits LigenListBase

@attribute [Authorize]

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style type="text/css">

    .rz-datatable tr {
        min-height: 8%;
        word-break: break-all;
    }
</style>

@if (LigenList == null)
{
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenStack>
}
else
{
    <div class="container">
        
        <RadzenCard class="m-0 mb-3 rz-shadow-3">                  
            <div class="d-flex flex-row">
                <div class="card-body">
                    <h2 style="display:inline-block;">Ligen</h2>
                    <span class="ml-3">
                        <a href="createliga" style="width:35px; height:30px;" title="Neuanlage Liga" class="btn btn-primary btn-sm form-control"><span class="glyphicon">&#x2b;</span></a>
                    </span>
                </div>
            </div>
        </RadzenCard>
         

         <RadzenCard class="my-4" style="display: flex; align-items: center; gap: 0.5rem">                        
                        <RadzenSelectBar @bind-Value="@Density" TextProperty="Text" ValueProperty="Value"
                                         Data="@(Enum.GetValues(typeof(Density)).Cast<Density>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Medium" />
         </RadzenCard>

        <div class="form-group row">
            <div class="col-sm-12">
                <RadzenDataGrid @ref="grid" Data="@LigenList" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                AllowPaging="true" AllowSorting="true" Responsive=true Density="@Density" AllowFiltering="true"
                                TItem="Liga" Visible="true" AllowColumnResize="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                LogicalFilterOperator="LogicalFilterOperator.Or" Filter="@OnFilter" CellRender="OnCellRender">
                    <Columns>
                        <RadzenDataGridColumn TItem="Liga" Property="Id" Title="Id" Visible=false>                         
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Liga" Property="Id" Width="50px" TextAlign="TextAlign.Right" Filterable="false" Sortable=true Title="Id" />
                        <RadzenDataGridColumn TItem="Liga" Property="Liganame" Width="350px" Sortable=true Title="Liganame" />
                        <RadzenDataGridColumn TItem="Liga" Property="Saisonen" Width="200px" Sortable=true Title="Saisonen" />
                        <RadzenDataGridColumn TItem="Liga" Property="Verband" Width="350px" Sortable=true Title="Verband" />
                        <RadzenDataGridColumn TItem="Liga" Property="Erstaustragung" Width="150px" FormatString={0:dd.MM.yyyy} TextAlign="TextAlign.Center" Filterable="false" Sortable=true Title="Erstaustragung" />


                        <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Liga" Property="Aktiv" Title="Aktiv" Width="10%" Filterable="false">
                            <Template Context="data">
                              <RadzenCheckBox @bind-Value=@data.Aktiv TValue="bool" Name="chkBundesliga" /> 
                            </Template>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Liga" Property="Id" Width="100px" Filterable="false" Sortable="false">
                            <Template Context="data">
                                <NavLink href="@($"editliga/{data.Id}")" title="Bearbeiten" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></NavLink>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                    <FooterTemplate>
                    </FooterTemplate>
                    <FooterTemplate>
                        Anzahl Ligen: <b>@LigenList.Count()</b>
                    </FooterTemplate>
                </RadzenDataGrid>
                <RadzenRow Wrap="FlexWrap.NoWrap" Gap="10px" class="rz-white">
                    <RadzenColumn Offset="11" Style="text-align:right;">
                        <button onclick="topFunction()" id="btnTop" class="btn btn-primary btn-sm" title="Nach oben" style='font-size:12px'><span class="glyphicon glyphicon-arrow-up"></span></button>
                    </RadzenColumn>
                </RadzenRow>
            </div>
        </div>
    </div>   
    <script>

        let mybutton = document.getElementById("btnTop");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>


}