@page "/pokalergebnisse"
@inherits PokalergebnisseListBase
@attribute [Authorize]
@inject DialogService DialogService

@using LigaManagerManagement.Web.Pages;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>

</style>

<div class="container">
    <div class="form-group row">
        <div class="col-sm-12"> 
            <RadzenCard class="m-0">
                <div class="d-flex flex-row">
                    <div class="card-body">
                        <h2>Pokalergebnisse @Ligamanager.Components.Globals.currentPokalSaison</h2>                    
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard style="margin-bottom:4px;">
                <div class="form-group row">
                    <div class="dropdown mr-2" style="display:inline">
                        <select id="cboSaison" class="form-control dropdown" @onchange="SaisonChange">
                            <option value="" selected required>Saison auswählen</option>
                            @if (SaisonenList != null)
                            {
                                @foreach (var saison in SaisonenList.OrderByDescending(o => o.Saisonname))
                                {
                                    <option value="@saison.SaisonID"> @saison.Saisonname </option>
                                }
                            }
                        </select>
                        <label style="display:@DisplayErrorSaison;color:red;" id="lblErrorSaison">Bitte Saison wählen</label>
                    </div>
                    <div class="dropdown" style="display:inline">
                        <select id="cboTableArt" style="display:inline; width:180px;height:38px;" class="form-control dropdown" @onchange="RundeChange">
                            <option value="0">Runde wählen</option>
                            <option value="2">2. Runde</option>
                            <option value="AF">Achtelfinale</option>
                            <option value="VF">Viertelfinale</option>
                            <option value="HF">Halbfinale</option>
                            <option value="F">Finale</option>
                        </select>
                        <label style="display:@DisplayErrorRunde;color:red;" id="lblErrorSaison">Bitte Runde wählen</label>
                    </div>
                    <div class="dropdown" style="display:inline">
                       <RadzenButton title="Saison und Runde auswählen" style="margin-right:0px;" id="btnUebernehmen" class="btn btn-primary pull-right" Text="Auswählen" Click="@OnClickHandler">

                        </RadzenButton>
                    </div>

                </div>
            </RadzenCard>

           
        </div>
    </div>

    <RadzenCard Style="height:70%;" class="m-0">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem class="p-0" Text="Begegnungen">
                   
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <RadzenCard style="flex:1;margin:0px;">                               
                               @*  <RadzenDataList Data="@PokalergebnisseSpieltage" TItem="PokalergebnisSpieltag" AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)" PageSize="16"
                                                PagerHorizontalAlign="HorizontalAlign.Left" pagerText PageSizeText="16 Datensätze" ShowPagingSummary="true">
                                              
                                    <Template Context="PokalergebnisSpieltag">                                            
                                        <RadzenCard Style="width:100%; padding:0;">
                                            <RadzenRow Gap="0">
                                                <RadzenColumn Size="3" SizeXS="3">

                                                    <RadzenText TextStyle="TextStyle.Body1">@(Pokal
                                                        rgebnisSpieltag.Verein1)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="1" SizeXS="1">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Tore1_Nr)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="1" SizeXS="1">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Tore2_Nr)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="3" SizeXS="3">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Verein2)</RadzenText>
                                                </RadzenColumn>                                                
                                                <RadzenColumn Size="2" SizeXS="2">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Datum)</RadzenText>
                                                </RadzenColumn>                                               
                                            </RadzenRow>
                                        </RadzenCard>
                                    </Template>
                                </RadzenDataList>                             *@ 
                                <RadzenDataGrid @ref="grid" Data="@PokalergebnisseSpieltage" EmptyText="Keine Daten zum Anzeigen" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                                                AllowPaging="true" AllowSorting="false" AllowFiltering="false"
                                                TItem="PokalergebnisSpieltag" Visible="true" Responsive=true AllowColumnResize="true"
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                SelectionMode="DataGridSelectionMode.Single" Density="@Density" LogicalFilterOperator="LogicalFilterOperator.Or">
                                    <Columns>

                                        <RadzenDataGridColumn TItem="PokalergebnisSpieltag" CssClass="VereinMinWidth" Property="Verein1"  Width="30%" Sortable=false Title="Heim" >
                                        </RadzenDataGridColumn>
                                        <RadzenDataGridColumn TItem="PokalergebnisSpieltag" CssClass="ToreMinWidth" Property="Tore1_Nr" TextAlign="TextAlign.Center" Width="10%" Sortable=false Title="T 1" />
                                        <RadzenDataGridColumn TItem="PokalergebnisSpieltag" CssClass="ToreMinWidth" Property="Tore2_Nr" TextAlign="TextAlign.Center" Width="10%" Sortable=false Title="T 2" />
                                        <RadzenDataGridColumn TItem="PokalergebnisSpieltag" CssClass="VereinMinWidth" Property="Verein2" Width="30%" Sortable=false Title="Gast" />
                                        <RadzenDataGridColumn TItem="PokalergebnisSpieltag" Property="Ort" Width="25%" Sortable=false Title="Ort" />
                                        <RadzenDataGridColumn TItem="PokalergebnisSpieltag" FormatString="{0:dd.MM.yyyy H:mm}" Property="Datum" Width="22%" Sortable=false Title="Datum" />
                                        <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="PokalergebnisSpieltag" Property="SpieltagId" Width="80px" Filterable="false" Sortable="false">
                                            <Template Context="data">
                                                <NavLink href="@($"editpokalspieltag/{data.SpieltagId}")" title="Bearbeiten" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></NavLink>
                                            </Template>
                                        </RadzenDataGridColumn>
                                    </Columns>
                                </RadzenDataGrid>
                            </RadzenCard>                            
                        </div>
                    </div>
                </RadzenTabsItem>   
                 <RadzenTabsItem class="p-0" Text="Alle Pokalendspiele">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <RadzenCard style="flex:1;margin:0px;">
                                <RadzenDataList Data="@PokalergebnisseSpieltageAlle" TItem="PokalergebnisSpieltag" AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)" PageSize="16"
                                                PagerHorizontalAlign="HorizontalAlign.Left" pagerText PageSizeText="16 Datensätze" ShowPagingSummary="true">
                                    <Template Context="PokalergebnisSpieltag">
                                        <RadzenCard Style="width:100%; padding:0;">
                                            <RadzenRow Gap="0">
                                                <RadzenColumn Size="1" SizeXS="1">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Saison)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="3" SizeXS="3">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Verein1)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="1" SizeXS="1">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Tore1_Nr)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="1" SizeXS="1">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Tore2_Nr)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="3" SizeXS="3">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Verein2)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="2" SizeXS="2">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Datum)</RadzenText>
                                                </RadzenColumn>
                                            </RadzenRow>
                                        </RadzenCard>
                                    </Template>
                                </RadzenDataList>
                            </RadzenCard>                            
                        </div>
                    </div>
                 </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </RadzenCard>
</div>

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

@code {

    AlignItems alignItems = AlignItems.Normal;
    JustifyContent justifyContent = JustifyContent.Normal;
    string gap = "1rem";

    class MyObject
    {
        public int Id { get; set; }
        public string Name { get; set; }

        public override bool Equals(object o)
        {
            var other = o as MyObject;

            return other?.Id == Id;
        }

        public override string ToString()
        {
            return $"Id: {Id}, Name: {Name}";
        }

        public override int GetHashCode()
        {
            return base.GetHashCode();
        }
    }

    MyObject singleValue = new MyObject() { Id = 5, Name = "Name5" };
    IEnumerable<MyObject> data = Enumerable.Range(0, 100).Select(i => new MyObject() { Id = i, Name = $"Name{i}" });
}
