@page "/pokalergebnisse"
@inherits PokalergebnisseListBase
@attribute [Authorize]
@inject DialogService DialogService

@using LigaManagerManagement.Web.Pages;
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<style>

</style>

<div class="container">
    <div class="form-group row">
        <div class="col-sm-12">
            <RadzenCard class="m-0">
                <div class="d-flex flex-row">
                    <div class="card-body">
                        <h2>Pokalergebnisse  @Ligamanager.Components.Globals.currentSaison</h2>
                    </div>
                </div>
            </RadzenCard>
        </div>
    </div>

    <RadzenCard Style="height:70%;" class="m-0">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem class="p-0" Text="Begegnungen">
                    <RadzenCard class="my-4 p-0 rz-shadow-0">
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">                            
                            <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
                                <select id="cboSaison" class="form-control dropdown" @onchange="SaisonChange">
                                    <option value="" selected required>Saison auswählen</option>
                                    @if (SaisonenList != null)
                                    {
                                        @foreach (var saison in SaisonenList.OrderByDescending(o => o.Saisonname))
                                        {
                                            <option value="@saison.SaisonID"> @saison.Saisonname </option>
                                        }
                                    }
                                </select>
                                <label style="display:@DisplayErrorSaison;color:red;" id="lblErrorSaison">Bitte Saison wählen</label>
                            </RadzenStack>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="4px">
                                <select id="cboTableArt" style="display:inline; width:180px;height:38px;" class="form-control dropdown" @onchange="RundeChange">
                                    <option value="0">Runde wählen</option>
                                    <option value="2">2. Runde</option>
                                    <option value="AF">Achtelfinale</option>
                                    <option value="VF">Viertelfinale</option>
                                    <option value="HF">Halbfinale</option>
                                    <option value="F">Finale</option>                                    
                                </select>
                                <label style="display:@DisplayErrorRunde;color:red;" id="lblErrorSaison">Bitte Runde wählen</label>
                            </RadzenStack>
                            <RadzenStack Orientation="Orientation.Vertical" Gap="24px">

                                <RadzenButton title="Saison und Runde auswählen" BusyText="Bitte warten..." style="margin-right:0px;" id="btnUebernehmen" class="btn btn-primary pull-right" Text="Auswählen" Click="@OnClickHandler">

                                </RadzenButton>
                            </RadzenStack>
                        </RadzenStack>
                    </RadzenCard>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <RadzenCard style="flex:1;margin-right:0px;">                               
                                <RadzenDataList Data="@PokalergebnisseSpieltage" TItem="PokalergebnisSpieltag" AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)" PageSize="10"
                                                PagerHorizontalAlign="HorizontalAlign.Left" pagerText ShowPagingSummary="true">
                                    <Template Context="PokalergebnisSpieltag">
                                        <RadzenCard Style="width:100%; padding:0;">
                                            <RadzenRow Gap="0">
                                                <RadzenColumn Size="3" SizeXS="3">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Verein1)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="1" SizeXS="1">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Tore1_Nr)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="1" SizeXS="1">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Tore2_Nr)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="3" SizeXS="3">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Verein2)</RadzenText>
                                                </RadzenColumn>                                                
                                                <RadzenColumn Size="2" SizeXS="2">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(PokalergebnisSpieltag.Datum)</RadzenText>
                                                </RadzenColumn>
                                            </RadzenRow>
                                        </RadzenCard>
                                    </Template>
                                </RadzenDataList>
                             
                            </RadzenCard>
                            @* </div> *@
                        </div>
                    </div>
                </RadzenTabsItem>          
            </Tabs>
        </RadzenTabs>
    </RadzenCard>
</div>

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

@code {

    AlignItems alignItems = AlignItems.Normal;
    JustifyContent justifyContent = JustifyContent.Normal;
    string gap = "1rem";

    class MyObject
    {
        public int Id { get; set; }
        public string Name { get; set; }

        public override bool Equals(object o)
        {
            var other = o as MyObject;

            return other?.Id == Id;
        }

        public override string ToString()
        {
            return $"Id: {Id}, Name: {Name}";
        }

        public override int GetHashCode()
        {
            return base.GetHashCode();
        }
    }

    MyObject singleValue = new MyObject() { Id = 5, Name = "Name5" };
    IEnumerable<MyObject> data = Enumerable.Range(0, 100).Select(i => new MyObject() { Id = i, Name = $"Name{i}" });
}
