@page "/spieltage/{SpieltagNr}"
@inherits LigaManagerManagement.Web.Pages.SpieltagListBase

@attribute [Authorize]

<style type="text/css">

    .NewBtn {
        gap: 1px;
        margin-right: 2px;
        align-self: end;
        justify-content: end;
        margin-right: 0px !important;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    .previous {
        background-color: #1b6ec2;
        border-color: #1861ac;
        color: white;
    }

    .next {
        background-color: #1b6ec2;
        border-color: #1861ac;
        color: white;
    }

    .round {
        border-radius: 50%;
    }

</style>
@if (Spieltage == null)
{
    <div class="spinner"></div>
}
else
{
    <h2>@Ligamanager.Components.Globals.currentLiga @Ligamanager.Components.Globals.currentSaison </h2>

    <div class="container">
        <div class="form-group row">
            <select id="cboSpieltage" style="min-height:38px;margin-left:12px;" class="form-control col-sm-2" @onchange="SpieltagChange">
                <option value="" selected>@SpieltagNr Spieltag</option>
                @foreach (var spieltag in SpieltagList)
                {
                    <option value="@spieltag.Nummer"> @spieltag.Name</option>
                }
            </select>
            <div class="col-sm-2">              
                @if (VisibleBtnNew)
                {
                    <NavLink href="@($"createspieltag/{SpieltagNr}")" class="btn-primary btn"><span class="glyphicon">&#x2b;</span></NavLink>

                    @* <a href="@($"createspieltag/{SpieltagNr}")" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> 
                    </a> *@
                }
                else
                {
                    <NavLink href="@($"createspieltag/{SpieltagNr}")" style="display:none;" class="btn-primary btn"><span class="glyphicon">&#x2b;</span></NavLink>
                    @* <a href="@($"createspieltag/{SpieltagNr}")" style="display:none;" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a> *@
                }
            </div>
        </div>
        <br />
        <div class="form-group row">
            <div class="tabelle col-sm-12">
                <div style="width:100%;">
                    <table class="table">
                        <thead class="bg-blue">
                        <th class="priority-1" style="margin-left:20px; height:40px;width:180px;" scope="col">Verein 1</th>
                        <th class="priority-1" style="height:40px;width:40px;" scope="col">T 1</th>
                        <th class="priority-1" style="height:40px;width:40px;" scope="col">T 2</th>
                        <th class="priority-1" style="height:40px;width:180px;" scope="col">Verein 2</th>
                        <th class="priority-2" style="height:40px;width:180px;" scope="col">Ort</th>
                        <th class="priority-2" style="height:40px;width:400px;" scope="col">Datum</th>
                        </thead>
                    </table>
                </div>
            </div>
            @foreach (var spieltag in Spieltage.OrderBy(o => o.Datum).ToList())
            {
                <EditForm Model="@Spieltage">
                    <!-- This will validate the form -->
                    <DataAnnotationsValidator />
                    <!-- This will show any validation errors -->
                    <DisplaySpieltag Spieltag="spieltag"></DisplaySpieltag>
                </EditForm>
            }
        </div>
    </div>
    <br />
    @if (VisibleVorZurueck)
    {

        <div class="form-group row">
            <div class="col-sm-10">
                <a type="button" @onclick="SpieltagZurueck" class="previous round">&laquo;</a>
            </div>
            <div class="col-sm-2 justify-content-end">
                <a type="button" @onclick="SpieltagVor" style="width: auto;" class="next round">&raquo;</a>
            </div>
        </div>
    }

}