@page "/spieltage/{SpieltagNr}"
@inherits LigaManagerManagement.Web.Pages.SpieltagListBase

@attribute [Authorize]

<style type="text/css">
    #Divtabelle {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
        gap: 2px;
    }

        #Divtabelle div {
            /* text-align: center; */
        }

    .tabelle {
        grid-column-end: span 10;
    }

    .Vor {
        grid-column-end: span 9;
        justify-content: start;
    }

    .Naechst {
        grid-column-end: span 1;
        align-self: end;
        justify-content: end;
        margin-right: 0px !important;
    }

    .Combo {
        justify-content: start;
    }

    .NewBtn {
        gap: 1px;
        margin-right: 2px;
        align-self: end;
        justify-content: end;
        margin-right: 0px !important;
    }

</style>
@if (Spieltage == null)
{
    <div class="spinner"></div>
}
else
{
    <h2>@Ligamanager.Components.Globals.currentLiga @Ligamanager.Components.Globals.currentSaison </h2>

    <div id="Divtabelle">
        <div class="Combo">
            <select id="cboSpieltage" style="min-height:38px;margin-left:5px;" class="form-control" @onchange="SpieltagChange">
                <option value="" selected>@SpieltagNr Spieltag</option>
                @foreach (var spieltag in SpieltagList)
                {
                    <option value="@spieltag.Nummer"> @spieltag.Name</option>
                }
            </select>
        </div>
        <div class="NewBtn">
            &nbsp;<NavLink href="@($"createspieltag/{SpieltagNr}")" style="width: 100px;" class="btn-primary btn">Neu</NavLink>
        </div>
    </div>
    <br />

    <div class="wrapper">
        <div class="header">
            <div id="Divtabelle">
                <div class="tabelle">
                    @foreach (var spieltag in Spieltage.OrderBy(o => o.Datum).ToList())
                    {
                        <EditForm Model="@Spieltage">
                            <!-- This will validate the form -->
                            <DataAnnotationsValidator />
                            <!-- This will show any validation errors -->
                            <DisplaySpieltag Spieltag="spieltag"></DisplaySpieltag>
                        </EditForm>
                    }
                </div>
                <div class="Vor">
                    <button type="button" @onclick="SpieltagZurueck" style="width: 100px;" class="btn btn-primary">Voriger</button>
                </div>
                <div class="Naechst">
                    <button type="button" @onclick="SpieltagVor" style="width: 100px;" class="btn btn-primary">Nächster</button>
                </div>
            </div>
        </div>
    </div>

}