@page "/spieltage/{SpieltagNr}"
@inherits LigaManagerManagement.Web.Pages.SpieltagListBase
@inject DialogService DialogService
@attribute [Authorize]

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style type="text/css">

    body {
    }


    .NewBtn {
        gap: 1px;
        margin-right: 2px;
        align-self: end;
        justify-content: end;
        margin-right: 0px !important;
    }

    a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

        a:hover {
            background-color: #ddd;
            color: black;
        }

    .previous {
        background-color: #1b6ec2;
        border-color: #1861ac;
        color: white;
    }

    .next {
        background-color: #1b6ec2;
        border-color: #1861ac;
        color: white;
    }

    .round {
        border-radius: 50%;
    }

    .VereinMinWidth {
        min-width: 80px;
    }

    .ToreMinWidth {
        min-width: 80px;
    }
</style>
@if (Spieltage == null)
{
    <div class="d-flex justify-content-center">

        <div class="spinner"></div>

    </div>

}
else
{

    <div class="container">
        <div class="form-group row">
            <div class="col-sm-12">
                <RadzenCard class="m-0">
                    <div class="d-flex flex-row">
                        <div class="card-body">
                            <h2>@Liganame @Ligamanager.Components.Globals.currentSaison @SpieltagNr.ToString() .Spieltag</h2>
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>
        <RadzenCard style="margin-bottom:4px;">
            <div class="form-group row">
                <div class="col-sm-12">
                    <RadzenCard class="m-0">                        
                        <select id="cboSpieltage" data-toggle="tooltip" title="Spieltag auswählen" style="height:38px; width:180px; display:inline-block;" class="form-control" @onchange="SpieltagChange">
                            <option value="" selected>@SpieltagNr.ToString() .Spieltag</option>
                            @foreach (var spieltag in SpieltagList)
                            {
                                <option value="@spieltag.Nummer"> @spieltag.Name</option>
                            }
                        </select>
                        <span class="ml-3">
                            @if (VisibleBtnNew)
                            {
                                <NavLink href="@($"createspieltag/{SpieltagNr}")" title="Neuanlage" class="btn-primary btn"><span class="glyphicon glyphicon-plus-sign"></span></NavLink>

                                @* <a href="@($"createspieltag/{SpieltagNr}")" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                        </a> *@
                            }
                            else
                            {
                                <NavLink href="@($"createspieltag/{SpieltagNr}")" title="Neuanlage" style="display:none;" class="btn-primary btn"><span class="glyphicon">&#x2b;</span></NavLink>
                                @* <a href="@($"createspieltag/{SpieltagNr}")" style="display:none;" class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                        </a> *@
                            }
                        </span>
                    </RadzenCard>
                </div>
            </div>
        </RadzenCard>
        <div class="form-group row">
            <div class="col-sm-12">
                <RadzenCard style="flex:1;margin-right:0px;">
                    <RadzenCard class="my-4" style="display: flex; align-items: center; gap: 0.5rem">
                        <RadzenSelectBar @bind-Value="@Density" TextProperty="Text" ValueProperty="Value"
                                         Data="@(Enum.GetValues(typeof(Density)).Cast<Density>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small" />
                    </RadzenCard>
                    <RadzenDataGrid @ref="grid" Data="@Spieltage" EmptyText="Keine Daten zum Anzeigen" class="table table-striped" FilterMode="FilterMode.Advanced" PageSize="30"
                                    AllowPaging="true" AllowSorting="false" AllowFiltering="false"
                                    TItem="Spieltag" Visible="true" Responsive=true AllowColumnResize="true"
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    SelectionMode="DataGridSelectionMode.Single" Density="@Density" LogicalFilterOperator="LogicalFilterOperator.Or">
                        <Columns>
                            <RadzenDataGridColumn TItem="Spieltag" Property="Id" Title="Id" Visible=false>
                                <FooterTemplate>
                                    Spieltage: <b>@grid.View.Count()</b> von <b>@Spieltage.Count()</b>
                                </FooterTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Spieltag" Property="SpieltagId" Width="50px" TextAlign="TextAlign.Right" Filterable="false" Visible=false Sortable=false Title="SpieltagId" />
                            <RadzenDataGridColumn TItem="Spieltag" CssClass="VereinMinWidth" Property="Verein1" Width="30%" Sortable=false Title="Heim" />                            
                            <RadzenDataGridColumn TItem="Spieltag" Title="" Sortable="false" Width="74px" MinWidth="74px">
                                <Template Context="data">
                                    <RadzenImage Path="@($"/Images/{data.Verein1}.webp")" style="width: 40px; height: 40px; border-radius: 8px; margin-right: 8px;" title="@data.Verein1" AlternateText="@(data.Verein1)" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Spieltag" CssClass="ToreMinWidth" Property="Tore1_Nr" TextAlign="TextAlign.Center" Width="10%" Sortable=false Title="T 1" />
                            <RadzenDataGridColumn TItem="Spieltag" CssClass="ToreMinWidth" Property="Tore2_Nr" TextAlign="TextAlign.Center" Width="10%" Sortable=false Title="T 2" />
                            <RadzenDataGridColumn TItem="Spieltag" Title="Gast" Sortable="false" Width="74px" MinWidth="74px">
                                <Template Context="data">
                                    <RadzenImage Path="@($"/Images/{data.Verein2}.webp")" style="width: 40px; height: 40px; border-radius: 8px; margin-right: 8px;" title="@data.Verein2" AlternateText="@(data.Verein2)" />
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="Spieltag" CssClass="VereinMinWidth" Property="Verein2" Width="30%" Sortable=false Title="" />

                            <RadzenDataGridColumn TItem="Spieltag" Property="Ort" Width="25%" Sortable=false Title="Ort" />
                            <RadzenDataGridColumn TItem="Spieltag" FormatString="{0:dd.MM.yyyy H:mm}" Property="Datum" Width="22%" Sortable=false Title="Datum" />

                            <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Spieltag" Property="SpieltagId" Width="80px" Filterable="false" Sortable="false">
                                <Template Context="data">
                                    <NavLink href="@($"editspieltag/{data.SpieltagId}")" title="Bearbeiten" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></NavLink>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Spieltag" Property="SpieltagId" Width="80px" Filterable="false" Sortable="false">
                                <Template Context="data">
                                    <NavLink @onclick="Delete_Click" data-toggle="Löschen" title="Löschen" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-sign"></span></NavLink>
                                </Template>
                            </RadzenDataGridColumn>
                            @* <RadzenDataGridColumn Width="80px" TItem="Spieltag" Property="SpieltagId" Title="Spieltags-Details">
                                <Template Context="data">
                                    <RadzenButton ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Shade="Shade.Default" Icon="info" class="m-1" Click=@(() => OpenSpieltag(data.SpieltagId)) />
                                </Template>
                            </RadzenDataGridColumn> *@
                        </Columns>
                    </RadzenDataGrid>
                   @*  <RadzenRow class="rz-white">
                        <RadzenColumn Style="text-align:left;display:inline-block;">
                            <a type="button" Style="text-align:left;display:inline-block;" data-toggle="Voriger Spieltag" title="Voriger Spieltag" @onclick="SpieltagZurueck" class="previous round">&laquo;</a>
                        </RadzenColumn>
                        <RadzenColumn Offset="11" Style="text-align:right;display:inline-block;">
                            <a type="button" data-toggle="Nächster Spieltag" title="Nächster Spieltag" @onclick="SpieltagVor" style="width: auto; text-align:left;display:inline-block;" class="next round">&raquo;</a>
                        </RadzenColumn>
                    </RadzenRow> *@
                    <div class="row">
                        <div class="col-md-1">
                            <a type="button" Style="text-align:left;display:inline-block;" data-toggle="Voriger Spieltag" title="Voriger Spieltag" @onclick="SpieltagZurueck" class="previous round">&laquo;</a>
                        </div>
                        <div class="col-md-11 text-right">
                            <a type="button" data-toggle="Nächster Spieltag" title="Nächster Spieltag" @onclick="SpieltagVor" style="width: auto; text-align:left;display:inline-block;" class="next round">&raquo;</a>
                        </div>
                    </div>
                </RadzenCard>
                @* </div> *@
            </div>
        </div>
    </div>

    @code {
    
    async Task OpenSpieltag(int? spieltagsid)
    {
        await DialogService.OpenAsync<DialogCardPage>($"Spieltag {spieltagsid}",
              new Dictionary<string, object>() { { "SpieltagsID", spieltagsid } },
              new DialogOptions() { Width = "700px", Height = "520px" });
    }


}

}
