@page "/statistiken"
@using LigaManagerManagement.Web.Pages;
@using Microsoft.EntityFrameworkCore
@inherits StatistikenListBase
@attribute [Authorize]

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style type="text/css">

    .columns-2 {
        width: 100%;
        display: flex;
        margin: 1px;
    }
</style>

<div class="container">
    <div class="form-group row">
        <div class="col-sm-12">
            <RadzenCard class="m-0">
                <div class="d-flex flex-row">
                    <div class="card-body">
                        <h2 style="display:inline-block;">Statistiken</h2>
                    </div>
                </div>
            </RadzenCard>
        </div>
    </div>

    <RadzenTabs @bind-SelectedIndex=@selectedIndex Change=@OnChange>
        <Tabs>
            <RadzenTabsItem Text="Verein gegen Verein">
                <div class="content">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label style="display:inline-block;" class="col-sm-2 pl-0">Verein</label>
                            <select id="cboSaison" style="display:inline-block;" class="form-control dropdown col-sm-10" @onchange="Verein1Change">
                                @foreach (var verein in VereineList.Where(x => x.Bundesliga = true).OrderBy(x => x.Vereinname1))
                                {
                                    <option value="@verein.VereinID"> @verein.Vereinname1 </option>
                                }
                                <option selected="selected">Verein auswählen</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label style="display:inline-block;" class="col-sm-2">Verein</label>
                            <select id="cboSaison" style="display:inline-block;" class="form-control dropdown col-sm-10" @onchange="Verein2Change">
                                @foreach (var verein in VereineList.Where(x => x.Bundesliga = true).OrderBy(x => x.Vereinname1))
                                {
                                    <option value="@verein.VereinID"> @verein.Vereinname1 </option>
                                }
                                <option selected="selected">Verein auswählen</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label style="display:@DisplayElements;">Spielpaarungen: @Spielergebnisse.Count() </label>
                            <label style="display:@DisplayElements;">Statistiken: @Statistik</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            @if (Spieltage != null)
                            {
                                var SpieltageVV = Spielergebnisse.OrderByDescending(x => x.Datum);

                                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" Class="rz-p-2">
                                    <RadzenCheckBox @bind-Value="@allowVirtualization" Name="allowVirtualization" />
                                    <RadzenLabel Text="Alle auf einer Seite" Component="allowVirtualization" />
                                </RadzenStack>

                                <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                                                Data="@SpieltageVV" TItem="Spieltag" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" PageSizeText="Größe" ShowPagingSummary="true">
                                    <Template Context="Spieltag">
                                        <RadzenCard Style="width:100%; padding:0;">
                                            <RadzenRow Gap="0">
                                                <RadzenColumn Size="0" SizeXS="1">
                                                    @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                    <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body2">@(Spieltag.SpieltagNr)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="4" SizeXS="4">
                                                    @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 1</RadzenText> *@
                                                    <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein1)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="1" SizeXS="1">
                                                    @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 1</RadzenText> *@
                                                    <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore1_Nr)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="1" SizeXS="1">
                                                    @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 2</RadzenText> *@
                                                    <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore2_Nr)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="4" SizeXS="4">
                                                    @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                    <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein2)</RadzenText>
                                                </RadzenColumn>                                             
                                                <RadzenColumn Size="0" SizeXS="1">
                                                    @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                    <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Datum)</RadzenText>
                                                </RadzenColumn>
                                            </RadzenRow>
                                        </RadzenCard>
                                    </Template>
                                </RadzenDataList>
                            }
                        </div>
                    </div>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Höchste Heimsiege">
                <div class="form-group row">
                    <div class="col-sm-12">

                        @if (Spieltage != null)
                        {
                            var SpieltageHH = Spieltage.OrderByDescending(x => x.Tore1_Nr - x.Tore2_Nr).ThenByDescending(x => x.Datum).Take(50).ToList();

                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" Class="rz-p-2">
                                <RadzenCheckBox @bind-Value="@allowVirtualization" Name="allowVirtualization" />
                                <RadzenLabel Text="Alle auf einer Seite" Component="allowVirtualization" />
                            </RadzenStack>

                            <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                            WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                                            Data="@SpieltageHH" TItem="Spieltag" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                <Template Context="Spieltag">
                                    <RadzenCard Style="width:100%; padding:0;">
                                        <RadzenRow Gap="0">
                                            <RadzenColumn Size="0" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body2">@(Spieltag.SpieltagNr)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="4" SizeXS="4">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 1</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein1)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="1" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 1</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore1_Nr)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="1" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 2</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore2_Nr)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="4" SizeXS="4">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein2)</RadzenText>
                                            </RadzenColumn>                                           
                                            <RadzenColumn Size="0" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Datum)</RadzenText>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenCard>
                                </Template>
                            </RadzenDataList>
                        }

                    </div>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Höchste Auswärtssiege">
                <div class="form-group row">
                    <div class="col-sm-12">

                        @if (Spieltage != null)
                        {
                            var SpieltageHA = Spieltage.OrderByDescending(x => x.Tore2_Nr - x.Tore1_Nr).ThenByDescending(x => x.Datum).Take(50).ToList();

                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" Class="rz-p-2">
                                <RadzenCheckBox @bind-Value="@allowVirtualization" Name="allowVirtualization" />
                                <RadzenLabel Text="Alle auf einer Seite" Component="allowVirtualization" />
                            </RadzenStack>

                            <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                            WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                                            Data="@SpieltageHA" TItem="Spieltag" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                <Template Context="Spieltag">
                                    <RadzenCard Style="width:100%; padding:0;">
                                        <RadzenRow Gap="0">
                                            <RadzenColumn Size="0" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body2">@(Spieltag.SpieltagNr)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="4" SizeXS="4">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 1</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein1)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="1" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 1</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore1_Nr)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="1" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 2</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore2_Nr)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="4" SizeXS="4">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein2)</RadzenText>
                                            </RadzenColumn>                                           
                                            <RadzenColumn Size="0" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Datum)</RadzenText>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenCard>
                                </Template>
                            </RadzenDataList>
                        }
                        }
                    </div>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Torreichste Spiele">
                <div class="form-group row">
                    <div class="col-sm-12">
                        @if (Spieltage != null)
                        {
                            var SpieltageTS = Spieltage.OrderByDescending(x => x.Tore1_Nr + x.Tore2_Nr).ThenByDescending(x => x.Datum).Take(50).ToList();

                            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem" Class="rz-p-2">
                                <RadzenCheckBox @bind-Value="@allowVirtualization" Name="allowVirtualization" />
                                <RadzenLabel Text="Alle auf einer Seite" Component="allowVirtualization" />
                            </RadzenStack>

                            <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : "")"
                                            WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                                            Data="@SpieltageTS" TItem="Spieltag" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                <Template Context="Spieltag">
                                    <RadzenCard Style="width:100%; padding:0;">
                                        <RadzenRow Gap="0">
                                              <RadzenColumn Size="0" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body2">@(Spieltag.SpieltagNr)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="4" SizeXS="4">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 1</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein1)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="1" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 1</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore1_Nr)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="1" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 2</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore2_Nr)</RadzenText>
                                            </RadzenColumn>
                                            <RadzenColumn Size="4" SizeXS="4">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein2)</RadzenText>
                                            </RadzenColumn>                                          
                                            <RadzenColumn Size="0" SizeXS="1">
                                                @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Datum)</RadzenText>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </RadzenCard>
                                </Template>
                            </RadzenDataList>
                            <RadzenRow Wrap="FlexWrap.NoWrap" class="rz-white">
                                <RadzenColumn Offset="11" Style="text-align:right;">
                                    <button onclick="topFunction()" id="btnTop" class="btn btn-primary" title="Nach oben" style='font-size:14px; display:true;'><span class="glyphicon glyphicon-arrow-up"></span></button>
                                </RadzenColumn>
                            </RadzenRow>
                        }

                    </div>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Statistik Verein">
                <div class="content">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label style="display:inline-block;" class="col-sm-2 pl-0">Verein</label>
                            <select id="cboSaison" style="display:inline-block; " class="form-control dropdown col-sm-10" @onchange="EinzelVereinChange">
                                @foreach (var verein in VereineList.Where(x => x.Bundesliga = true).OrderBy(x => x.Vereinname1))
                                {
                                    <option value="@verein.VereinID"> @verein.Vereinname1 </option>
                                }
                                <option selected="selected">Verein auswählen</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label style="display:@DisplayElements;">Spielpaarungen: @Spielergebnisse.Count() </label>
                            <label style="display:@DisplayElements;">Statistiken: @Statistik</label>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">

                            @if (Spieltage != null)
                            {
                                @if (DisplayElements == "block")
                                {
                                    var SpieltageVH = Spieltage.Where(x => x.Verein1_Nr == Spiel.Verein1_Nr).OrderByDescending(x => x.Tore1_Nr - x.Tore2_Nr).ThenByDescending(x => x.Datum).Take(10).ToList(); ; //Spielergebnisse.OrderByDescending(x => x.Datum);

                                    <RadzenLabel Text="Höchte Heimsiege"></RadzenLabel>
                                    <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                    WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                                                    Data="@SpieltageVH" TItem="Spieltag" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                        <Template Context="Spieltag">
                                            <RadzenCard Style="width:100%; padding:0;">
                                                <RadzenRow Gap="0">
                                                    <RadzenColumn Size="0" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body2">@(Spieltag.SpieltagNr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="4" SizeXS="4">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 1</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein1)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="1" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 1</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore1_Nr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="1" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore2_Nr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="4" SizeXS="4">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein2)</RadzenText>
                                                    </RadzenColumn>                                                   
                                                    <RadzenColumn Size="0" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Datum)</RadzenText>
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenCard>
                                        </Template>
                                    </RadzenDataList>
                                    <br />
                                }

                                @if (DisplayElements == "block")
                                {
                                    var SpieltageAS = Spieltage.Where(x => x.Verein2_Nr == Spiel.Verein1_Nr).OrderByDescending(x => x.Tore2_Nr - x.Tore1_Nr).ThenByDescending(x => x.Datum).Take(10).ToList();
                                    <RadzenLabel Text="Höchte Auswärtssiege"></RadzenLabel>
                                    <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                    WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                                                    Data="@SpieltageAS" TItem="Spieltag" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                        <Template Context="Spieltag">
                                            <RadzenCard Style="width:100%; padding:0;">
                                                <RadzenRow Gap="0">
                                                    <RadzenColumn Size="0" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body2">@(Spieltag.SpieltagNr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="4" SizeXS="4">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 1</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein1)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="1" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 1</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore1_Nr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="1" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore2_Nr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="4" SizeXS="4">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein2)</RadzenText>
                                                    </RadzenColumn>                                                   
                                                    <RadzenColumn Size="0" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Datum)</RadzenText>
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenCard>
                                        </Template>
                                    </RadzenDataList>
                                    <br />
                                }
                                @if (DisplayElements == "block")
                                {
                                    var SpieltageVA = Spieltage.Where(x => x.Verein1_Nr == Spiel.Verein1_Nr).OrderByDescending(x => x.Tore2_Nr - x.Tore1_Nr).ThenByDescending(x => x.Datum).Take(10).ToList();
                                    <RadzenLabel Text="Höchte Heimiederlagen"></RadzenLabel>
                                    <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                    WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                                                    Data="@SpieltageVA" TItem="Spieltag" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                        <Template Context="Spieltag">
                                            <RadzenCard Style="width:100%; padding:0;">
                                                <RadzenRow Gap="0">
                                                    <RadzenColumn Size="0" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body2">@(Spieltag.SpieltagNr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="4" SizeXS="4">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 1</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein1)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="1" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 1</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore1_Nr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="1" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore2_Nr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="4" SizeXS="4">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein2)</RadzenText>
                                                    </RadzenColumn>                                                    
                                                    <RadzenColumn Size="0" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Datum)</RadzenText>
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenCard>
                                        </Template>
                                    </RadzenDataList>
                                    <br />
                                }

                                @if (DisplayElements == "block")
                                {
                                    var SpieltageAN = Spieltage.Where(x => x.Verein2_Nr == Spiel.Verein1_Nr).OrderByDescending(x => x.Tore1_Nr - x.Tore2_Nr).ThenByDescending(x => x.Datum).Take(10).ToList();
                                    <RadzenLabel Text="Höchte Auswärtsniederlagen"></RadzenLabel>
                                    <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                    WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                                                    Data="@SpieltageAN" TItem="Spieltag" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                        <Template Context="Spieltag">
                                            <RadzenCard Style="width:100%; padding:0;">
                                                <RadzenRow Gap="0">
                                                    <RadzenColumn Size="0" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body2">@(Spieltag.SpieltagNr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="4" SizeXS="4">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 1</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein1)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="1" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 1</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore1_Nr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="1" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore2_Nr)</RadzenText>
                                                    </RadzenColumn>
                                                    <RadzenColumn Size="4" SizeXS="4">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein2)</RadzenText>
                                                    </RadzenColumn>                                                   
                                                    <RadzenColumn Size="0" SizeXS="1">
                                                        @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                        <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Datum)</RadzenText>
                                                    </RadzenColumn>
                                                </RadzenRow>
                                            </RadzenCard>
                                        </Template>
                                    </RadzenDataList>
                                    <br />
                                }

                                @if (DisplayElements == "block")
                                {
                                    var SpieltageTS = Spieltage.Where(x => x.Verein1_Nr == Spiel.Verein1_Nr).OrderByDescending(x => x.Tore1_Nr + x.Tore2_Nr).ThenByDescending(x => x.Datum).Take(10).ToList();

                                    @if (SpieltageTS != null)
                                    {

                                        <RadzenLabel Text="Torreichste Spiele"></RadzenLabel>
                                        <RadzenDataList AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                        WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)"
                                        Data="@SpieltageTS" TItem="Spieltag" PageSize="10" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                                            <Template Context="Spieltag">
                                                <RadzenCard Style="width:100%; padding:0;">
                                                    <RadzenRow Gap="0">
                                                        <RadzenColumn Size="0" SizeXS="1">
                                                            @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                            <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body2">@(Spieltag.SpieltagNr)</RadzenText>
                                                        </RadzenColumn>
                                                        <RadzenColumn Size="4" SizeXS="4">
                                                            @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 1</RadzenText> *@
                                                            <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein1)</RadzenText>
                                                        </RadzenColumn>
                                                        <RadzenColumn Size="1" SizeXS="1">
                                                            @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 1</RadzenText> *@
                                                            <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore1_Nr)</RadzenText>
                                                        </RadzenColumn>
                                                        <RadzenColumn Size="1" SizeXS="1">
                                                            @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">T 2</RadzenText> *@
                                                            <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Tore2_Nr)</RadzenText>
                                                        </RadzenColumn>
                                                        <RadzenColumn Size="4" SizeXS="4">
                                                            @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                            <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Verein2)</RadzenText>
                                                        </RadzenColumn>

                                                        <RadzenColumn Size="0" SizeXS="1">
                                                            @* <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" Class="rz-mb-0">Verein 2</RadzenText> *@
                                                            <RadzenText TextStyle="TextStyle.Body2">@(Spieltag.Datum)</RadzenText>
                                                        </RadzenColumn>
                                                    </RadzenRow>
                                                </RadzenCard>
                                            </Template>
                                        </RadzenDataList>
                                        <br />
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Torjägerliste">
                <div class="content">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label style="display:@DisplayElements;">Spielpaarungen: @Spielergebnisse.Count() </label>
                            <label style="display:@DisplayElements;">Statistiken: @Statistik</label>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            @if (TorjaegerList != null)
                            {
                                var TorjaegerList2 = TorjaegerList.Where(x => x.Tore > 1).OrderByDescending(x => x.Tore).ToList();
                                <RadzenLabel Text="Torjägerliste "></RadzenLabel>
                                <RadzenDataList Data="@TorjaegerList2" TItem="Torjaeger" AllowVirtualization=@allowVirtualization Style="@(allowVirtualization ? "height:400px;overflow:auto;" : ";")"
                                                WrapItems="@(!allowVirtualization)" AllowPaging="@(!allowVirtualization)" PageSize="10"
                                                PagerHorizontalAlign="HorizontalAlign.Left" pagerText ShowPagingSummary="true">
                                    <Template Context="Torjaeger">
                                        <RadzenCard Style="width:100%; padding:0;">
                                            <RadzenRow Gap="0">
                                                <RadzenColumn Size="4" SizeXS="4">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(Torjaeger.Spielername)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="4" SizeXS="4">
                                                    <RadzenText TextStyle="TextStyle.Body1">@(Torjaeger.Vereinsname)</RadzenText>
                                                </RadzenColumn>
                                                <RadzenColumn Size="2" SizeXS="2">
                                                    <RadzenText TextAlign="TextAlign.Right" TextStyle="TextStyle.Body1">@(Torjaeger.Tore)</RadzenText>
                                                </RadzenColumn>
                                            </RadzenRow>
                                        </RadzenCard>
                                    </Template>
                                </RadzenDataList>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </RadzenTabsItem>

        </Tabs>
    </RadzenTabs>
</div>

<script>

    let mybutton = document.getElementById("btnTop");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
