@page "/Ligamanager/{CurrentligaUrl}/tabellen"
@inherits TabellenListBase
@inject LigaManagerManagement.Web.Services.LigaManagerAuthenticationStateProvider _LigaManagerAuthenticationStateProvider
@inject NavigationManager _navigationManager

@attribute [Authorize]


<head>

    <style type="text/css">


        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

            a:hover {
                background-color: #ddd;
                color: black;
            }

        .previous {
            background-color: #1b6ec2;
            border-color: #1861ac;
            color: white;
        }

        .next {
            background-color: #1b6ec2;
            border-color: #1861ac;
            color: white;
        }

        .round {
            border-radius: 50%;
        }

        .end {
            justify-content: flex-end;
        }

        .ColorPunkte {
            color: red;
        }

        tr.separated td {
            /* set border style for separated rows */
            border-bottom: 1px solid black;
        }

        table {
            /* make the border continuous (without gaps between columns) */
            border-collapse: collapse;
        }

        .rz-datatable td {
            padding: 2.5px;
        }
    </style>
</head>
@if (Tabellen == null)
{
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenStack>
}
else
{
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-12">
                <RadzenCard class="m-0 rz-shadow-3" style="height:120px;">
                    <div class="d-flex flex-row">
                        <div class="card-body">
                            <span style="background-color: #1151f3; color:white;" class="float-right">@Localizer["Eingeloggter Benutzer"].Value: @_LigaManagerAuthenticationStateProvider.CurrentUser.Username</span>
                            <br />
                            <span class="float-right"><a href="Ligamanager/account/logout"><img style="height:25px;margin-top:8px;" title="@Localizer["Logout"].Value" src="images/Logout.png" /></a></span>
                            <span class="float-right mr-2"><a href="/Ligamanager/einstellungen"><img style="width:25px; height:25px;margin-top:8px;" title="@Localizer["Einstellungen"].Value" src="images/settings.png" /></a></span>
                            <span class="float-right mr-2"><a href="/Ligamanager/info"><img style="height:25px;margin-top:8px;" title="@Localizer["Info"].Value" src="images/info.png" /></a></span>
                            <h2 style="display:inline-block;">@Localizer["Tabelle"].Value @Globals.currentLiganame @Globals.currentSaison</h2>
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>
        <RadzenCard style="margin-bottom:4px; height:80px;">
            <div class="form-group row">
                <div class="dropdown mr-2" style="display:inline">
                    <select id="cboSaison" style="display:inline;max-width:170px;height:38px; margin-left:2px; margin-right:2px;" class="form-control dropdown" @onchange="SaisonChange">
                        <option value="0" selected required>@Localizer["Saison wählen"].Value</option>
                        @foreach (var saison in SaisonenList.Where(x => x.LigaID == Globals.LigaID).OrderByDescending(o => o.Saisonname))
                        {
                            @if (saison.SaisonID == Globals.SaisonID)
                            {
                                <option selected value="@saison.Saisonname"> @saison.Saisonname </option>
                            }
                            else
                            {
                                <option value="@saison.Saisonname"> @saison.Saisonname </option>
                            }
                        }
                    </select>
                </div>
                <div class="dropdown" style="display:inline">
                    <select id="cboSpieltage" style="display:inline;max-width:170px;height:38px;margin-right:2px;" class="form-control dropdown" @onchange="SpieltagChange">
                        <option value="0" selected required>@Localizer["Spieltag wählen"].Value</option>
                        @foreach (var spieltag in SpieltagList)
                        {
                            @if (spieltag.Nummer == currentspieltag.ToString())
                            {
                                <option selected value="@spieltag.Nummer"> @spieltag.Name </option>
                            }
                            else
                            {
                                <option value="@spieltag.Nummer"> @spieltag.Name </option>
                            }
                        }
                    </select>
                </div>
                <div class="dropdown" style="display:inline">
                    <select id="cboTableArt" style="display:inline; max-width:180px;height:38px;margin-left:2px;" class="form-control dropdown" @onchange="TabArtChange">
                        <option value="0">@Localizer["Tabellenart wählen"].Value</option>
                        <option selected value="1">@Localizer["Gesamttabelle"].Value</option>
                        <option value="2">@Localizer["Heimtabelle"].Value</option>
                        <option value="3">@Localizer["Auswärtstabelle"].Value</option>
                        <option value="4">@Localizer["Vorrunde"].Value</option>
                        <option value="5">@Localizer["Rückrunde"].Value</option>
                        @if (Globals.LigaID < 4)
                        {
                            <option value="5">@Localizer["Ewige Tabelle"].Value</option>
                        }
                    </select>
                </div>
                <div Style="display:inline-block;" class="row ml-1">
                    <div Style="display:inline-block;" class="col-md-1">
                        <RadzenButton title="@Localizer["Spieltage"].Value" Click=@(args => AnzeigenSpieltage()) Style="margin-left: 3px;display:inline-block;" Text="@Localizer["Spieltage"].Value" ButtonStyle="ButtonStyle.Primary">
                            <span class="oi oi-calendar" aria-hidden="true"></span> @Localizer["Spieltage"].Value
                        </RadzenButton>
                    </div>
                </div>
                @if (Globals.currentLiganame == "Bundesliga")
                {
                    <div Style="display:inline-block;" class="row">
                        <div Style="display:inline-block;" class="col-md-1">
                            <RadzenButton title="@Localizer["Kader"].Value" Click=@(args => AnzeigenKader()) Style="margin-left: 3px;display:inline-block;" Text="@Localizer["Tabelle"].Value" ButtonStyle="ButtonStyle.Primary">
                                <span class="oi oi-person" aria-hidden="true"></span>@Localizer["Kader"].Value
                            </RadzenButton>
                        </div>
                    </div>

                    <div Style="display:inline-block;" class="row">
                        <div Style="display:inline-block;" class="col-md-1">
                            <RadzenButton title="@Localizer["Chart"].Value" Click=@(args => AnzeigenChart()) Style="margin-left: 3px;display:inline-block;" Text="@Localizer["Chart"].Value" ButtonStyle="ButtonStyle.Primary">
                                <span class="oi oi-aperture" aria-hidden="true"></span>@Localizer["Chart"].Value
                            </RadzenButton>
                        </div>
                    </div>
                    <div Style="display:inline-block;" class="row">
                        <div Style="display:inline-block;" class="col-md-1">
                            <RadzenButton title="@Localizer["Statistiken"].Value" Click=@(args => AnzeigenStatistiken()) Style="margin-left: 3px;display:inline-block;" Text="@Localizer["Statistiken"].Value" ButtonStyle="ButtonStyle.Primary">
                                <span class="oi oi-bar-chart" aria-hidden="true"></span>@Localizer["Statistiken"].Value
                            </RadzenButton>
                        </div>
                    </div>
                }
            </div>
        </RadzenCard>
        <RadzenCard style="flex:1;margin:0px;">
            <RadzenRow class="rz-white">
                <RadzenColumn Style="text-align:left;display:inline-block;margin-left:2px;margin-right:2px;">
                    <a type="button" data-toggle="Voriger Spieltag" title="Voriger Spieltag" @onclick="SpieltagZurueck" class="previous round">&laquo;</a>
                </RadzenColumn>
                <RadzenColumn Offset="11" Style="text-align:right;display:inline-block;margin-left:2px;margin-right:2px;margin-bottom:10px;">
                    <a type="button" data-toggle="Nächster Spieltag" title="Nächster Spieltag" @onclick="SpieltagVor" style="width: auto;" class="next round">&raquo;</a>
                </RadzenColumn>
            </RadzenRow>
            @* RowRender="@RowRender" CellRender="@CellRender" HeaderCellRender="@HeaderFooterCellRender" *@
            <RadzenDataGrid @ref="grid" Data="Tabellen" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                            AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                            TItem="Tabelle" Visible="true" CellRender="@CellRender" Responsive=true Style="height:auto;" row AllowColumnResize="false"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn CssClass="separated" Title="@Localizer["Platz"].Value" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true />
                    <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                        <Template Context="data">
                            <RadzenImage Path="@($"/Images/{data.Verein}.webp")" style="height: 30px; width: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="17%" Sortable=false Title="@Localizer["Verein"].Value" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="6%" Sortable=true Title="@Localizer["S"].Value" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="6%" Sortable=true Title="@Localizer["G"].Value" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="6%" Sortable=true Title="@Localizer["U"].Value" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="6%" Sortable=true Title="@Localizer["V"].Value" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Right" Width="6%" Sortable=true Title="@Localizer["T"].Value" />
                    <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="@Localizer["Diff"].Value" />
                    <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="@Localizer["P"].Value" />
                </Columns>
                <FooterTemplate>
                    @if (Globals.LigaID == 1)
                    {
                    @Localizer["Legende"].Value
                    }
                </FooterTemplate>
            </RadzenDataGrid>

            <RadzenRow Wrap="FlexWrap.NoWrap" class="rz-white">
                <RadzenColumn Offset="11" Style="text-align:right;">
                    <button onclick="topFunction()" id="btnTop" class="btn btn-primary btn-sm" title="@Localizer["Nach oben"].Value" style='font-size:12px'><div><RadzenIcon Icon="open_in_browser" /><span></span></div></button>
                </RadzenColumn>
            </RadzenRow>

            
                <RadzenRow Wrap="FlexWrap.NoWrap" class="rz-white">
                    <RadzenColumn Style="text-align:center;">
                        <RadzenLabel class="col-12" Style="@DisplayEwig" Component="txtHinweis">
                            @Localizer["Kommentar"].Value
                        </RadzenLabel>
                    </RadzenColumn>
                </RadzenRow>
            
            
        </RadzenCard>
    </div>

    @code {


    private void AnzeigenSpieltage()
    {
        _navigationManager.NavigateTo($"Ligamanager/{Globals.currentLigaUrl}/spieltage/{Globals.Spieltag}", true);
    }

    private void AnzeigenStatistiken()
    {
        _navigationManager.NavigateTo($"Ligamanager/statistiken", true);
    }

    private void AnzeigenChart()
    {
        _navigationManager.NavigateTo($"Ligamanager/chartPunkte");
    }
    private void AnzeigenKader()
    {
        Globals.KaderVereinNr = 0;
        _navigationManager.NavigateTo($"Ligamanager/kader");
    }
    

    }

    <script>

        let mybutton = document.getElementById("btnTop");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
}

