@page "/tabellen"
@inherits TabellenListBase
@attribute [Authorize]
<link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-darkness/jquery-ui.css'
      rel='stylesheet'>

<style type="text/css">


</style>

@if (Tabellen == null)
{
    <div class="spinner"></div>
}
else
{
    <h2>@Ligamanager.Components.Globals.currentLiga Tabelle</h2>

    <label>
        <select id="cboSaison" style="margin-left:5px;" class="form-control dropdown" @onchange="SaisonChange">
            <option value="" selected>@saison</option>
            @foreach (var saison in SaisonenList.OrderByDescending(o => o.Saisonname))
            {
                <option value="@saison.Saisonname"> @saison.Saisonname </option>
            }
        </select>
        <br />
    </label>
    <label>
        <select id="cboSpieltage" style="margin-left:5px;" class="form-control dropdown" @onchange="SpieltagChange">
            <option value="" selected>@currentspieltag. Spieltag</option>
            @foreach (var spieltag in SpieltagList)
            {
                <option value="@spieltag.Nummer"> @spieltag.Name </option>
            }
        </select>
        <br />
    </label>
    <label>
        <select id="cboTableArt" style="margin-left:5px;" class="form-control dropdown" @onchange="TabArtChange">
            <option value="0">Tabellenart wählen:</option>
            <option value="1">Gesamttabelle</option>
            <option value="2">Heimtabelle</option>
            <option value="3">Auswärtstabelle</option>
            <option value="4">Vorrunde</option>
            <option value="5">Rückrunde</option>
            <option value="6">Ewige Tabelle</option>
        </select>
        <br />
    </label>
    <br>
    @foreach (var tabelle in Tabellen)
    {
        <EditForm Model="@Tabellen">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <DisplayTabelle Tabelle="tabelle"></DisplayTabelle>
        </EditForm>
    }
}

