@page "/{CurrentligaUrl}/tabellen"
@inherits TabellenListBase

@attribute [Authorize]

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-darkness/jquery-ui.css' rel='stylesheet'>

    <style type="text/css">


        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
        }

            a:hover {
                background-color: #ddd;
                color: black;
            }

        .previous {
            background-color: #1b6ec2;
            border-color: #1861ac;
            color: white;
        }

        .next {
            background-color: #1b6ec2;
            border-color: #1861ac;
            color: white;
        }

        .round {
            border-radius: 50%;
        }

        .end {
            justify-content: flex-end;
        }

        .ColorPunkte {
            color: red;
        }

        tr.separated td {
            /* set border style for separated rows */
            border-bottom: 1px solid black;
        }

        table {
            /* make the border continuous (without gaps between columns) */
            border-collapse: collapse;
        }
    </style>
</head>
@if (Tabellen == null)
{
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-m-12" Gap="2rem">
        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
    </RadzenStack>
}
else
{
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-12">
                <RadzenCard class="m-0 rz-shadow-3">
                    <div class="d-flex flex-row">
                        <div class="card-body">                            
                          <h2 style="display:inline-block;">Tabelle @Globals.currentLiganame @Globals.currentSaison </h2>                            
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>
        <RadzenCard style="margin-bottom:4px;">
            <div class="form-group row">
                <div class="dropdown mr-2" style="display:inline">
                    <select id="cboSaison" style="display:inline;max-width:170px;height:38px; margin-left:2px; margin-right:2px;" class="form-control dropdown" @onchange="SaisonChange">
                        <option value="0" selected required>Saison wählen</option>
                        @foreach (var saison in SaisonenList.Where(x => x.LigaID == Globals.LigaID).OrderByDescending(o => o.Saisonname))
                        {
                            @if (saison.SaisonID == Globals.SaisonID)
                            {
                                <option selected value="@saison.Saisonname"> @saison.Saisonname </option>
                            }
                            else
                            {
                                <option value="@saison.Saisonname"> @saison.Saisonname </option>
                            }
                        }
                    </select>
                </div>
                <div class="dropdown" style="display:inline">
                    <select id="cboSpieltage" style="display:inline;max-width:170px;height:38px;margin-right:2px;" class="form-control dropdown" @onchange="SpieltagChange">
                        <option value="0" selected required>Spieltag wählen</option>
                        @foreach (var spieltag in SpieltagList)
                        {
                            @if (spieltag.Nummer == currentspieltag.ToString())
                            {
                                <option selected value="@spieltag.Nummer"> @spieltag.Name </option>
                            }
                            else
                            {
                                <option value="@spieltag.Nummer"> @spieltag.Name </option>
                            }
                        }
                    </select>
                </div>
                <div class="dropdown" style="display:inline">
                    <select id="cboTableArt" style="display:inline; max-width:180px;height:38px;margin-left:2px;" class="form-control dropdown" @onchange="TabArtChange">
                        <option value="0">Tabellenart wählen</option>
                        <option selected value="1">Gesamttabelle</option>
                        <option value="2">Heimtabelle</option>
                        <option value="3">Auswärtstabelle</option>
                        <option value="4">Vorrunde</option>
                        <option value="5">Rückrunde</option>
                        @if (Globals.LigaID < 4)
                        {
                            <option value="6">Ewige Tabelle</option>
                        }
                    </select>
                </div>

            </div>
        </RadzenCard>
        <RadzenCard style="flex:1;margin:0px;">
            <RadzenRow class="rz-white">
                <RadzenColumn Style="text-align:left;display:inline-block;margin-left:2px;margin-right:2px;">
                    <a type="button" data-toggle="Voriger Spieltag" title="Voriger Spieltag" @onclick="SpieltagZurueck" class="previous round">&laquo;</a>
                </RadzenColumn>
                <RadzenColumn Offset="11" Style="text-align:right;display:inline-block;margin-left:2px;margin-right:2px;margin-bottom:10px;">
                    <a type="button" data-toggle="Nächster Spieltag" title="Nächster Spieltag" @onclick="SpieltagVor" style="width: auto;" class="next round">&raquo;</a>
                </RadzenColumn>
            </RadzenRow>
            @* RowRender="@RowRender" CellRender="@CellRender" HeaderCellRender="@HeaderFooterCellRender" *@
            <RadzenDataGrid @ref="grid" Data="Tabellen" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                            AllowPaging="true" AllowSorting="true" AllowFiltering="false" AllowAlternatingRows="true"
                            TItem="Tabelle" Visible="true" Responsive=true AllowColumnResize="false"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TItem="Tabelle" Property="Id" Title="Id" Visible=false>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Platz" Width="5%" TextAlign="TextAlign.Right" Filterable="false" Visible=true Sortable=true Title="Pl." />
                    <RadzenDataGridColumn TItem="Tabelle" Title="" Sortable="true" Width="5%">
                        <Template Context="data">
                            <RadzenImage Path="@($"/Images/{data.Verein}.webp")" style="height: 30px; width: 30px;" title="@data.Verein" AlternateText="@(data.Verein)" />
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Anzeigename" Width="22%" Sortable=false Title="Verein" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Spiele" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="S" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Gewonnen" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="G" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Untentschieden" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="U" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Verloren" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="V" />
                    <RadzenDataGridColumn CssClass="separated" TItem="Tabelle" Property="Tore" TextAlign="TextAlign.Left" Width="5%" Sortable=true Title="T" />
                    <RadzenDataGridColumn TItem="Tabelle" Property="Diff" TextAlign="TextAlign.Right" Width="5%" Sortable=true Title="Diff" />
                    <RadzenDataGridColumn TItem="Tabelle" TextAlign="TextAlign.Right" Property="Punkte" Width="5%" Sortable=true Title="P" />
                </Columns>
            </RadzenDataGrid>
            <RadzenRow Wrap="FlexWrap.NoWrap" class="rz-white">
                <RadzenColumn Offset="11" Style="text-align:right;">
                    <button onclick="topFunction()" id="btnTop" class="btn btn-primary" title="Nach oben" style='font-size:14px; display:true;'><span class="glyphicon glyphicon-arrow-up"></span></button>
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Wrap="FlexWrap.NoWrap" class="rz-white">
                <RadzenColumn Style="text-align:center;">
                    <RadzenLabel class="col-12" Style="@DisplayEwig" Component="txtHinweis">
                        Die Tabelle wurde nach dem Drei-Punkte-System errechnet.
                        1993/94 wurden Dynamo Dresden 4 Punkte, 1999/00 Eintracht Frankfurt 2 Punkte, 2003/04 dem 1. FC Kaiserslautern 3 Punkte abgezogen.
                    </RadzenLabel>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </div>

    <script>

        let mybutton = document.getElementById("btnTop");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
}

