@page "/vereine"
@using LigaManagerManagement.Web.Pages;
@using Radzen;
@inherits VereineListBase

@attribute [Authorize]

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style type="text/css">
    .rz-datatable tr {
        min-height: 8%;
        word-break: break-all;
    }
</style>

@if (VereineList == null)
{
    <div class="spinner"></div>
}
else
{
     <div class="container">
        
               <RadzenCard class="m-0 mb-3 rz-shadow-3">
                    <div class="d-flex flex-row">
                        <div class="card-body">
                            <h2 style="display:inline-block;">Vereine</h2>
                            <span class="ml-3">
                                <a href="createverein" style="width:35px; height:30px;" title="Neuanlage Verein" class="btn btn-primary btn-sm form-control"><span class="glyphicon">&#x2b;</span></a>
                            </span>
                        </div>
                    </div>
                </RadzenCard>
        
        <div class="form-group row">
            <div class="col-sm-12">

                 <RadzenCard class="my-4" style="display: flex; align-items: center; gap: 0.5rem">                        
                        <RadzenSelectBar @bind-Value="@Density" TextProperty="Text" ValueProperty="Value"
                                         Data="@(Enum.GetValues(typeof(Density)).Cast<Density>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Medium" />
                    </RadzenCard>
              
            <RadzenDataGrid @ref="grid" Data="@VereineList" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="30"
                        AllowPaging="true" AllowSorting="true" Density="@Density" AllowFiltering="true"
                        TItem="Verein" Visible="true" AllowColumnResize="true"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single" >
            <Columns>
                <RadzenDataGridColumn TItem="Verein" Property="VereinNr" Width="50px" TextAlign="TextAlign.Right" Filterable="false" Sortable=false Title="Nr" />
                <RadzenDataGridColumn TItem="Verein" Property="Vereinsname1" Width="300px" Sortable=true Title="Vereinsname" />
                <RadzenDataGridColumn TItem="Verein" Property="Stadion" Width="200px" Sortable=true Title="Stadion" />
                <RadzenDataGridColumn TItem="Verein" Property="Erfolge" Width="250px" HeaderTooltip="Europäische und nationale Titel"  TextAlign="TextAlign.Left" Filterable="true" Sortable=true Title="Erfolge" />

                 <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Verein" Property="Bundesliga" Title="Bundesliga" Width="10%" Filterable="false" Sortable="false">
                    <Template Context="data">
                        <RadzenCheckBox @bind-Value=@data.Bundesliga TValue="bool" Name="chkBundesliga" />
                    </Template>
                 </RadzenDataGridColumn>                

                 <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Verein" Property="Pokal" Title="Pokal" Width="10%" Filterable="false" Sortable="false">
                    <Template Context="data">
                        <RadzenCheckBox @bind-Value=@data.Pokal TValue="bool" Name="chkPokal" />
                    </Template>
                 </RadzenDataGridColumn>
                
                <RadzenDataGridColumn TItem="Verein" Property="ID" Title="ID" Visible=false>
                    <FooterTemplate>
                        Vereine: <b>@grid.View.Count()</b> von <b>@VereineList.Count()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn Context="data" >

                <RadzenDataGridColumn TextAlign="TextAlign.Right" TItem="Verein" Property="Id" Width="100px" Filterable="false" Sortable="false">
                            <Template Context="data">
                                <NavLink href="@($"editverein/{data.VereinNr}")" title="Bearbeiten" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span></NavLink>
                            </Template>
                </RadzenDataGridColumn>
            </Columns>
           
        </RadzenDataGrid>
        <RadzenRow Wrap="FlexWrap.NoWrap" Gap="10px" class="rz-white">                
            <RadzenColumn Offset="11" Style="text-align:right;">
                <button onclick="topFunction()" id="btnTop" class="btn btn-primary btn-sm" title="Nach oben" style='font-size:12px'><span class="glyphicon glyphicon-arrow-up"></span></button>
            </RadzenColumn>
        </RadzenRow>
            </div>
        </div>       
    </div>
   

<script>

    let mybutton = document.getElementById("btnTop");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>


}