@page "/vereine"
@using LigaManagerManagement.Web.Pages;
@using Radzen;
@inherits VereineListBase

@attribute [Authorize]

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style type="text/css">

 

/* .rz-datatable tr
{
    min-height: 20%;
    word-break: break-word;
    
} */


</style>

@if (VereineList == null)
{
    <div class="spinner"></div>
}
else
{
     <div class="container">
        <div class="form-group row">
            <div class="col-sm-12">
                <RadzenCard class="m-0">
                    <div class="d-flex flex-row">
                        <div class="card-body">
                            <h2 style="display:inline-block;">Vereine</h2>
                            <span class="ml-3">
                                <a href="createverein" style="width:35px; height:30px;" title="Neuanlage Verein" class="btn btn-primary btn-sm form-control"><span class="glyphicon">&#x2b;</span></a>
                            </span>
                        </div>
                    </div>
                </RadzenCard>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                 <RadzenDataGrid @ref="grid" Data="@VereineList" class="table table-striped" FilterMode="FilterMode.Simple" PageSize="20"
                        AllowPaging="true" AllowSorting="true" Responsive=true AllowFiltering="true"
                        TItem="Verein" Visible="true" AllowColumnResize="true"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        LogicalFilterOperator="LogicalFilterOperator.Or" Filter="@OnFilter" CellRender="OnCellRender">
            <Columns>
                <RadzenDataGridColumn TItem="Verein" Property="VereinNr" Width="8%" TextAlign="TextAlign.Right" Filterable="false" Sortable=true Title="Nr" />
                <RadzenDataGridColumn TItem="Verein" Property="Vereinsname1" Width="30%" Sortable=true Title="Vereinsname" />
                <RadzenDataGridColumn TItem="Verein" Property="Stadion" Width="20%" Sortable=true Title="Stadion" />
                <RadzenDataGridColumn TItem="Verein" Property="Erfolge" Width="50%" TextAlign="TextAlign.Left" Filterable="true" Sortable=true Title="Erfolge" >
                     <span style="white-space: pre"></span>
                </RadzenDataGridColumn>
                
                <RadzenDataGridColumn TItem="Verein" Property="VereinNr" Width="100px" Filterable="false" Sortable="false">
                    <Template Context="data">
                        <NavLink href="@($"editverein/{data.VereinNr}")" class="btn-primary btn"><span class="glyphicon glyphicon-edit"></span></NavLink>
                    </Template>
                </RadzenDataGridColumn>              
                <RadzenDataGridColumn TItem="Verein" Property="ID" Title="ID" Visible=false>
                    <FooterTemplate>
                        Vereine: <b>@grid.View.Count()</b> von <b>@VereineList.Count()</b>
                    </FooterTemplate>
                </RadzenDataGridColumn Context="data" >
            </Columns>
        </RadzenDataGrid>
            </div>
        </div>
    </div>
   

<script>

    let mybutton = document.getElementById("btnTop");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>


}