@page "/tabellen"
@inherits TabellenListBase
@attribute [Authorize]

<style type="text/css">
    .list-group-item {
        position: relative;
        display: block;
        padding: 0.5rem 0.5rem !important;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
    }

</style>
@if (Tabellen == null)
{
    <div class="spinner"></div>
}
else
{
    <h2 style="margin-left:5px;">@Ligamanager.Components.Globals.currentLiga @Ligamanager.Components.Globals.currentSaison Tabelle</h2>
    <label>
        <select id="cboSpieltage2" style="margin-left:5px;" class="form-control dropdown" @onchange="SpieltagChange">

            @foreach (var spieltag in SpieltagList)
            {
                <option value="@spieltag.Nummer"> @spieltag.Name </option>
            }
        </select>
        <br />
    </label>    
    <br>

    @foreach (var tabelle in Tabellen)
    {
        <EditForm Model="@Tabellen">
            <DisplayTabelle Tabelle="tabelle"></DisplayTabelle>
        </EditForm>
    }
}

