@page
@model LoginModel

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
@{
    ViewData["Title"] = "Einloggen";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <RadzenCard style="max-width: 1600px;">
                <RadzenTemplateForm Data=@("LoginWithDefaultValues")>
                    <RadzenLogin AllowRegister="true" AllowResetPassword="true" LoginText="Einloggen" UserText="Benutzername" PasswordText="Passwort"
                                 UserRequired="Benutzername erforderlich"
                                 PasswordRequired="Passwort erforderlich"
                                 RegisterText="Registrieren"
                                 RegisterMessageText="Sie haben noch keinen Account?"
                                 ResetPasswordText="Passwort zurücksetzen" />
                </RadzenTemplateForm>
            </RadzenCard>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Einen lokalen Login verwenden um sich einzuloggen.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Einloggen</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Password vergessen?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Neuen Benutzer registrieren</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Email Bestätigung zusenden</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Anderen Service zum Einloggen verwenden.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Es sind keine externen Authentifizierungsdienste konfiguriert. Weitere Informationen zum Einrichten
                            dieser ASP.NET-Anwendung zur Unterstützung der Anmeldung über externe Dienste finden Sie in diesem <a href="https://go.microsoft.com/fwlink/?LinkID=532715">Artikel.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
