@page "/editspieltag/{id}"
@page "/createspieltag"

@inherits EditSpieltagBase
@using LigamanagerManagement.Web.Services.Contracts;
@inject ISpieltagService _SpieltagService
@inject IVereineService _VereineService
@inject NavigationManager _navigationManager

<div class="row my-2">
    <div class="col-10">
        @if (spieltage == null)
        {
            <div class="spinner"></div>
        }
        else
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <h2 style="display:inline">@Ligamanager.Components.Globals.currentLiga @Ligamanager.Components.Globals.currentSaison </h2>
                    </div>
                    <div class="col-2">
                        <label style="display:inline">
                            <select id="cboSpieltage" style="min-height:38px;margin-left:5px;" class="form-control" @onchange="SpieltagChange">

                                @foreach (var spieltagL in SpieltagList)
                                {
                                    <option value="@spieltagL.Nummer"> @spieltagL.Name </option>
                                }
                            </select>
                            <br />
                        </label>
                    </div>
                </div>
            </div>

            <EditForm Model="spieltage" OnValidSubmit="UpsertVerein">
                <div class="container-fluid">
                    @foreach (var spieltag in spieltage)
                    {
                        <div class="row">
                            <div class="col-4 p-1">
                                <InputSelect id="cboVerein1" class="form-control" @bind-Value="spieltag.Verein1_Nr">
                                    if (Ligamanager.Components.Globals.VereinAktSaison != null)
                                    {
                                    @foreach (var verein in Ligamanager.Components.Globals.VereinAktSaison)
                                    {
                                        <option value="@verein.Key">@verein.Value</option>
                                    }
                                    }
                                </InputSelect>
                                <ValidationMessage For="()=>spieltag.Verein1_Nr"></ValidationMessage>
                            </div>
                            <div class="col-2">
                                <InputNumber required id="txtTore1" style="min-width:80px;" @bind-Value="spieltag.Tore1_Nr" class="form-control"></InputNumber>
                                <ValidationMessage For="()=>spieltag.Tore1_Nr"></ValidationMessage>
                            </div>
                            <div class="col-2">
                                <InputNumber required id="txtTore2" style="min-width:80px;" @bind-Value="spieltag.Tore2_Nr" class="form-control"></InputNumber>
                                <ValidationMessage For="()=>spieltag.Tore2_Nr"></ValidationMessage>
                            </div>
                            <div class="col-4">
                                <InputSelect id="cboVerein2" class="form-control" @bind-Value="spieltag.Verein2_Nr">
                                    if (Ligamanager.Components.Globals.VereinAktSaison != null)
                                    {
                                    @foreach (var verein in Ligamanager.Components.Globals.VereinAktSaison)
                                    {
                                        <option value="@verein.Key">@verein.Value</option>
                                    }
                                    }
                                </InputSelect>
                                <ValidationMessage For="()=>spieltag.Verein2_Nr"></ValidationMessage>
                            </div>
                        </div>
                    }
                </div>
                <div class="form-group py-2">
                    <button class="btn btn-primary">Speichern</button>
                    <NavLink href="/spieltage" class="btn btn-secondary">Zurück</NavLink>
                </div>
            </EditForm>
        }

    </div>
</div>

@code {

    [Parameter]
    public string Titel { get; set; }
    public bool IsLoading { get; set; }
    public IEnumerable<Verein> Vereine { get; set; }
    public IEnumerable<Liga> VereineMax { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Id == "0" || Id is null)
            {
                //Neuanlage
                Titel = "Neuanlage";
                Id = "0";
                IsLoading = false;
            }
            else
            {
                //Bearbeiten
                Titel = "Bearbeiten";
                await LoadSpieltage();
            }
        }
    }

    private async Task LoadSpieltage()
    {
        IsLoading = true;
        StateHasChanged();
        spieltage = (await _SpieltagService.GetSpieltage()).Where(st => st.SpieltagNr == Id).Where(st => st.Saison == Ligamanager.Components.Globals.currentSaison).ToList();
        IsLoading = false;
        StateHasChanged();
    }
    private async Task UpsertVerein()
    {
        if (Id == "0")
        {
            foreach (var begegnung in spieltage)
            {
                await _SpieltagService.CreateSpieltag(begegnung);
            }

        }
        else
        {
            foreach (var begegnung in spieltage)
            {
                await _SpieltagService.UpdateSpieltag(begegnung);
            }
        }
        //_navigationManager.NavigateTo("spieltage");
    }
}
