@page "/spieltagdetails/{id}"
@page "/spieltagdetails"
@inherits SpieltagDetailsBase

@if (Spieltag == null)
{
    <div class="spinner"></div>
}
else
{
    <h2>Spielpaarung</h2>
    <ul class="list-group">
        <li class="list-group-item"><h4>Spieltag ID : @Spieltag.SpieltagId</h4></li>
        <li class="list-group-item"><h4>Verein 1    : @Spieltag.Verein1_Nr</h4></li>
        <li class="list-group-item"><h4>Verein 2    : @Spieltag.Verein2_Nr</h4></li>
        <li class="list-group-item"> <h4>Tore 1     : @Spieltag.Tore1_Nr</h4></li>
        <li class="list-group-item"> <h4>Tore 2     : @Spieltag.Tore2_Nr</h4></li>
        <li class="list-group-item"> <h4>Ort        : @Spieltag.Ort</h4></li>
        <li class="list-group-item"> <h4>Datum      : @Spieltag.Datum</h4></li>
    </ul>

    <button class="btn btn-primary" @onclick="@Button_Click">@ButtonText</button>
    
    <div class="card-footer text-center @CssClass">
        <a href="/spieltage" class="btn btn-primary">Zurück</a>
        <a href="@($"editemployee/{Spieltag.SpieltagId}")"
           class="btn btn-primary">Bearbeiten</a>
        <a href="#" class="btn btn-danger">Löschen</a>
    </div>
}
    