@page "/spieltage"
@inherits LigaManagerManagement.Web.Pages.SpieltagListBase

@attribute [Authorize]

@{
    int i = 1;
}

@if (Spieltage == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="card-deck">
        <h2>@Ligamanager.Components.Globals.currentLiga @Ligamanager.Components.Globals.currentSaison </h2>

        <label>
            
            <select id="cboSpieltage" style="min-height:38px;margin-left:5px;" class="form-control" @onchange="SpieltagChange">

                @foreach (var spieltag in SpieltagList)
                {
                    <option value="@spieltag.Nummer"> @spieltag.Name </option>
                }
            </select>
            <br />           
        </label>
        <br>
    </div>
    
    @foreach (var spieltag in Spieltage.OrderBy(o => o.Datum).ToList())
    {
        <EditForm Model="@Spieltage">
            <DisplaySpieltag Spieltag="spieltag"></DisplaySpieltag>
        </EditForm>

       
    }

}