@page "/spieltage"
@inherits LigaManagerManagement.Web.Pages.SpieltagListBase

@attribute [Authorize]

@{
    int i = 1;
}

<style type="text/css">
    nav ul {
        display: flex;
        gap: 0px;
        .push-right

    {
        margin-left: auto;
        margin-right: 20px;
    }
</style>
@if (Spieltage == null)
{
    <div class="spinner"></div>
}
else
{
    <h2>@Ligamanager.Components.Globals.currentLiga @Ligamanager.Components.Globals.currentSaison </h2>

    <label>
        <select id="cboSpieltage" style="min-height:38px;margin-left:5px;" class="form-control" @onchange="SpieltagChange">
            <option value="" selected>@currentspieltag. Spieltag</option>
            @foreach (var spieltag in SpieltagList)
            {

                <option value="@spieltag.Nummer"> @spieltag.Name </option>
            }
        </select>
        <br />
    </label>
    <br>
    @foreach (var spieltag in Spieltage.OrderBy(o => o.Datum).ToList())
    {
        <EditForm Model="@Spieltage">
            <DisplaySpieltag Spieltag="spieltag"></DisplaySpieltag>
        </EditForm>
    }

    <nav>
        <ul>
            <li><button type="button" @onclick="SpieltagZurueck" style="margin-left:-40px !important" class="btn btn-primary">Voriger Spieltag</button></li>
            <li class="push-right"><button type="button" style="margin-right:18px " @onclick="SpieltagVor" class="btn btn-primary">Nächster Spieltag</button></li>
        </ul>
    </nav>

}