@page "/tabellen"
@inherits TabellenListBase
@attribute [Authorize]

@if (Tabellen == null)
{
    <div class="spinner"></div>
}
else
{

    <h2>@Ligamanager.Components.Globals.currentLiga Tabelle</h2>

    <label>
        <select id="cboSaison" style="margin-left:5px;" class="form-control dropdown" @onchange="SaisonChange">
            <option value="" selected>@saison</option>
            @foreach (var saison in SaisonenList.OrderByDescending(o => o.Saisonname))
            {
                <option value="@saison.Saisonname"> @saison.Saisonname </option>
            }
        </select>
        <br />
    </label>
    <label>
        <select id="cboSpieltage" style="margin-left:5px;" class="form-control dropdown" @onchange="SpieltagChange">
            <option value="" selected>@currentspieltag. Spieltag</option>
            @foreach (var spieltag in SpieltagList)
            {
                <option value="@spieltag.Nummer"> @spieltag.Name </option>
            }
        </select>
        <br />
    </label>
    <br>
    @foreach (var tabelle in Tabellen)
    {
        <EditForm Model="@Tabellen">
            <!-- This will validate the form -->
            <DataAnnotationsValidator />
            <!-- This will show any validation errors -->
            <ValidationSummary />
            <DisplayTabelle Tabelle="tabelle"></DisplayTabelle>
        </EditForm>
    }

}

